In [ ]:
import pandas as pd
import statsmodels as sm
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import os

<hr>
<hr>
<h1>Harmonisierung der geparsten Daten:</h1>
<h2>1. Berlin<h2>
<h2>2. Chicago</h2>
<h2>3. London</h2>
<h2>4. New York</h2>
<h2>5. Tokyo</h2>
<hr>
<hr>

In [ ]:
# Hauptverzeichnis setzen
main_data_path = '/home/paul/python_projects/masterthesis/'
# Das Hauptverzeichnis muss folgende Unterverzeichnisse mit den Daten enthalten (ansonsten müssen diese im Code angepasst werden):
# /Berlin/
# /Chicago/
# /London/
# /NYC/
# /Tokyo/
# /wmm_data/

<h1>1. Berlin-Marathon:</h1>
<hr>

In [ ]:
# Daten einlesen
df_berlin_data_csv = pd.read_csv(filepath_or_buffer=main_data_path +'Berlin/daten_wmm_berlin_all.csv',
    header=0, sep=';',
    decimal='.',
    names=['Jahr', 'Platz','Vorname', 'Nachname', 'NAT', 'SN', 'Verein','Geschlecht','Netto', 'Brutto','5KM','10KM','15KM','20KM','HM','25KM','30KM','35KM','40KM']
)

df_berlin_data_csv.head()

In [ ]:
# Nicht benötigte Spalten entfernen
df_berlin_data = df_berlin_data_csv.drop(columns=['NAT','SN','Verein','Brutto'])

# Spalten hinzufügen
df_berlin_data['Datum'] = None
df_berlin_data['Startzeit'] = None
df_berlin_data['Ort'] = 'Berlin'

# Datum für für das jeweilige Jahr eintragen
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2019,'29.09.2019',inplace=True)
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2018,'16.09.2018',inplace=True)
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2017,'24.09.2017',inplace=True)
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2016,'25.09.2016',inplace=True)
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2015,'27.09.2015',inplace=True)
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2014,'28.09.2014',inplace=True)
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2013,'29.09.2013',inplace=True)
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2012,'30.09.2012',inplace=True)
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2011,'25.09.2011',inplace=True)
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2010,'26.09.2010',inplace=True)
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2009,'20.09.2009',inplace=True)
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2008,'28.09.2008',inplace=True)
df_berlin_data['Datum'].mask(df_berlin_data['Jahr'] == 2007,'30.09.2007',inplace=True)

# Spalten umbenennen
df_berlin_data = df_berlin_data.rename(
    columns={'Netto':'T_KM_FN','5KM':'T_KM_5','10KM':'T_KM_10','15KM':'T_KM_15','20KM':'T_KM_20','HM':'T_KM_HM','25KM':'T_KM_25','30KM':'T_KM_30','35KM':'T_KM_35','40KM':'T_KM_40'})

# Spalten umsortieren
df_berlin_data = df_berlin_data[['Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','T_KM_FN','T_KM_5','T_KM_10','T_KM_15','T_KM_20','T_KM_HM','T_KM_25','T_KM_30','T_KM_35','T_KM_40']]
df_berlin_data.head()

<hr>
<h1>2. Chicago-Marathon:</h1>
<hr>

In [ ]:

# Temporäres Dateframe erzeugen
df_chicago_data_csv = pd.DataFrame(pd.DataFrame(
    columns=[
        'Jahr','Ges', 'Name', 'Age_Group', 'Runner_Number', 'Place_Gender', 'Place_Age_Group','Place_Overall','Start_Time_of_day','Finish_Time','5K_Time','5K_Diff','5K_min_km','5K_kmh'
        ,'10K_Time','10K_Diff','10K_min_km','10K_kmh','15K_Time','15K_Diff','15K_min_km','15K_kmh','20K_Time','20K_Diff','20K_min_km','20K_kmh','HK_Time','HK_Diff','HK_min_km','HK_kmh'
        ,'25K_Time','25K_Diff','25K_min_km','25K_kmh','30K_Time','30K_Diff','30K_min_km','30K_kmh','35K_Time','35K_Diff','35K_min_km','35K_kmh','40K_Time','40K_Diff','40K_min_km','40K_kmh'
        ,'FK_Time','FK_Diff','FK_min_km','FK_kmh'
        ])
    ,dtype=str)

# Daten einlesen
for year in range(2007,2020):
        file_path = main_data_path + 'Chicago/daten_wmm_chicago_' + str(year) + '.csv'
        df_chicago_data_csv_temp = pd.read_csv(filepath_or_buffer=file_path,
                header=0, sep=';',decimal='.'
                ,names=[
                'Jahr','Ges', 'Name', 'Age_Group', 'Runner_Number', 'Place_Gender', 'Place_Age_Group','Place_Overall','Start_Time_of_day','Finish_Time','5K_Time','5K_Diff','5K_min_km','5K_kmh'
                ,'10K_Time','10K_Diff','10K_min_km','10K_kmh','15K_Time','15K_Diff','15K_min_km','15K_kmh','20K_Time','20K_Diff','20K_min_km','20K_kmh','HK_Time','HK_Diff','HK_min_km','HK_kmh'
                ,'25K_Time','25K_Diff','25K_min_km','25K_kmh','30K_Time','30K_Diff','30K_min_km','30K_kmh','35K_Time','35K_Diff','35K_min_km','35K_kmh','40K_Time','40K_Diff','40K_min_km','40K_kmh'
                ,'FK_Time','FK_Diff','FK_min_km','FK_kmh'
                ]
        )
        df_chicago_data_csv = df_chicago_data_csv.append(df_chicago_data_csv_temp, ignore_index=True)

df_chicago_data_csv.head()

In [ ]:
# Nicht benötigte Spalten entfernen
df_chicago_data = df_chicago_data_csv.drop(
    columns=['Age_Group','Runner_Number','Place_Age_Group','Finish_Time','Place_Overall','5K_Diff','5K_min_km','5K_kmh','10K_Diff','10K_min_km','10K_kmh'
            ,'15K_Diff','15K_min_km','15K_kmh','20K_Diff','20K_min_km','20K_kmh','HK_Diff','HK_min_km','HK_kmh','25K_Diff','25K_min_km','25K_kmh'
            ,'30K_Diff','30K_min_km','30K_kmh','35K_Diff','35K_min_km','35K_kmh','40K_Diff','40K_min_km','40K_kmh','FK_Diff','FK_min_km','FK_kmh'
    ])

# Spalten hinzufügen
df_chicago_data['Datum'] = None
df_chicago_data['Nachname'] = None
df_chicago_data['Ort'] = 'Chicago'

# Datum für für das jeweilige Jahr eintragen
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2019,'13.10.2019',inplace=True)
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2018,'07.10.2018',inplace=True)
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2017,'08.10.2017',inplace=True)
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2016,'09.10.2016',inplace=True)
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2015,'11.10.2015',inplace=True)
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2014,'12.10.2014',inplace=True)
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2013,'13.10.2013',inplace=True)
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2012,'07.10.2012',inplace=True)
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2011,'09.10.2011',inplace=True)
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2010,'10.10.2010',inplace=True)
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2009,'11.10.2009',inplace=True)
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2008,'12.10.2008',inplace=True)
df_chicago_data['Datum'].mask(df_chicago_data['Jahr'] == 2007,'07.10.2007',inplace=True)

# Spalten umbenennen
df_chicago_data = df_chicago_data.rename(
    columns={'Ges':'Geschlecht','Place_Gender':'Platz','FK_Time':'T_KM_FN','Name':'Vorname','Start_Time_of_day' : 'Startzeit',
    '5K_Time':'T_KM_5','10K_Time':'T_KM_10','15K_Time':'T_KM_15','20K_Time':'T_KM_20','HK_Time':'T_KM_HM','25K_Time':'T_KM_25','30K_Time':'T_KM_30','35K_Time':'T_KM_35','40K_Time':'T_KM_40'})

# Spalten umsortieren
df_chicago_data = df_chicago_data[['Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','T_KM_FN','T_KM_5','T_KM_10','T_KM_15','T_KM_20','T_KM_HM','T_KM_25','T_KM_30','T_KM_35','T_KM_40']]

# Inhalt aus der ursprünglichen Spalte Name in Vorname und Nachname trennen
for index, row in df_chicago_data.iterrows():
    #print(row['Vorname'])
    name_split_1 = row['Vorname'].split(',')
    name_split_2 = name_split_1[1].split(' ')
    name_split_2.pop(0)
    name_split_2.pop(len(name_split_2)-1)
    name_split_2 = ' '.join(name_split_2)
    row['Vorname'] = name_split_2
    row['Nachname'] = name_split_1[0]

# Variable auf "none" setzen für spätere Verwendung
name_split_1 = None
name_split_2 = None

df_chicago_data.head()

<hr>
<h1>3. London-Marathon:</h1>
<hr>

In [ ]:
# Temporäres Dateframe erzeugen
df_london_data_csv = pd.DataFrame(pd.DataFrame(
    columns=[
        'Jahr','Ges', 'Name','Club', 'Category', 'Runner_Number', 'Place_Gender', 'Place_Category','Place_Overall','Start_Time_of_day','Finish_Time', 'Race_Status','Last_Split'
        ,'5K_Time_of_day','5K_Time','5K_Diff','5K_min_km','5K_kmh','10K_Time_of_day','10K_Time','10K_Diff','10K_min_km','10K_kmh','15K_Time_of_day','15K_Time','15K_Diff','15K_min_km','15K_kmh'
        ,'20K_Time_of_day','20K_Time','20K_Diff','20K_min_km','20K_kmh','HK_Time_of_day','HK_Time','HK_Diff','HK_min_km','HK_kmh','25K_Time_of_day','25K_Time','25K_Diff','25K_min_km','25K_kmh'
        ,'30K_Time_of_day','30K_Time','30K_Diff','30K_min_km','30K_kmh','35K_Time_of_day','35K_Time','35K_Diff','35K_min_km','35K_kmh','40K_Time_of_day','40K_Time','40K_Diff','40K_min_km','40K_kmh'
        ,'FK_Time_of_day','FK_Time','FK_Diff','FK_min_km','FK_kmh'
        ])
    ,dtype=str)

# Daten einlesen
for year in range(2010,2020):
        file_path = main_data_path + 'London/daten_wmm_london_' + str(year) + '.csv'
        df_london_data_csv_temp = pd.read_csv(filepath_or_buffer=file_path,
                header=0, sep=';',decimal='.'
                ,names=[
                'Jahr','Ges', 'Name','Club', 'Category', 'Runner_Number', 'Place_Gender', 'Place_Category','Place_Overall','Start_Time_of_day','Finish_Time', 'Race_Status','Last_Split'
                ,'5K_Time_of_day','5K_Time','5K_Diff','5K_min_km','5K_kmh','10K_Time_of_day','10K_Time','10K_Diff','10K_min_km','10K_kmh','15K_Time_of_day','15K_Time','15K_Diff','15K_min_km','15K_kmh'
                ,'20K_Time_of_day','20K_Time','20K_Diff','20K_min_km','20K_kmh','HK_Time_of_day','HK_Time','HK_Diff','HK_min_km','HK_kmh','25K_Time_of_day','25K_Time','25K_Diff','25K_min_km','25K_kmh'
                ,'30K_Time_of_day','30K_Time','30K_Diff','30K_min_km','30K_kmh','35K_Time_of_day','35K_Time','35K_Diff','35K_min_km','35K_kmh','40K_Time_of_day','40K_Time','40K_Diff','40K_min_km','40K_kmh'
                ,'FK_Time_of_day','FK_Time','FK_Diff','FK_min_km','FK_kmh'
                ]
        )
        df_london_data_csv = df_london_data_csv.append(df_london_data_csv_temp, ignore_index=True)

df_london_data_csv.head()

In [ ]:
# Nicht benötigte Spalten entfernen
df_london_data = df_london_data_csv.drop(
    columns=['Club', 'Category', 'Runner_Number','Place_Category','Place_Overall','Race_Status','Last_Split','5K_Time_of_day','5K_Diff','5K_min_km','5K_kmh','10K_Time_of_day','10K_Diff','10K_min_km','10K_kmh'
                ,'15K_Time_of_day','15K_Diff','15K_min_km','15K_kmh','20K_Time_of_day','20K_Diff','20K_min_km','20K_kmh','HK_Time_of_day','HK_Diff','HK_min_km','HK_kmh','25K_Time_of_day','25K_Diff','25K_min_km','25K_kmh'
                ,'30K_Time_of_day','30K_Diff','30K_min_km','30K_kmh','35K_Time_of_day','35K_Diff','35K_min_km','35K_kmh','40K_Time_of_day','40K_Diff','40K_min_km','40K_kmh','FK_Time_of_day','FK_Time','FK_Diff','FK_min_km','FK_kmh'
    ])

# Spalten hinzufügen
df_london_data['Datum'] = None
df_london_data['Nachname'] = None
df_london_data['Ort'] = 'London'

# Datum für für das jeweilige Jahr eintragen
df_london_data['Datum'].mask(df_london_data['Jahr'] == 2019,'28.04.2019',inplace=True)
df_london_data['Datum'].mask(df_london_data['Jahr'] == 2018,'22.04.2018',inplace=True)
df_london_data['Datum'].mask(df_london_data['Jahr'] == 2017,'23.04.2017',inplace=True)
df_london_data['Datum'].mask(df_london_data['Jahr'] == 2016,'24.04.2016',inplace=True)
df_london_data['Datum'].mask(df_london_data['Jahr'] == 2015,'26.04.2015',inplace=True)
df_london_data['Datum'].mask(df_london_data['Jahr'] == 2014,'13.04.2014',inplace=True)
df_london_data['Datum'].mask(df_london_data['Jahr'] == 2013,'21.04.2013',inplace=True)
df_london_data['Datum'].mask(df_london_data['Jahr'] == 2012,'22.04.2012',inplace=True)
df_london_data['Datum'].mask(df_london_data['Jahr'] == 2011,'17.04.2011',inplace=True)
df_london_data['Datum'].mask(df_london_data['Jahr'] == 2010,'25.04.2010',inplace=True)

# Spalten umbenennen
df_london_data = df_london_data.rename(
    columns={'Ges':'Geschlecht','Place_Gender':'Platz','Finish_Time':'T_KM_FN','Name':'Vorname','Start_Time_of_day':'Startzeit',
    '5K_Time':'T_KM_5','10K_Time':'T_KM_10','15K_Time':'T_KM_15','20K_Time':'T_KM_20','HK_Time':'T_KM_HM','25K_Time':'T_KM_25','30K_Time':'T_KM_30','35K_Time':'T_KM_35','40K_Time':'T_KM_40'})

# Spalten umsortieren
df_london_data = df_london_data[['Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','T_KM_FN','T_KM_5','T_KM_10','T_KM_15','T_KM_20','T_KM_HM','T_KM_25','T_KM_30','T_KM_35','T_KM_40']]

# Inhalt aus der ursprünglichen Spalte Name in Vorname und Nachname trennen
for index, row in df_london_data.iterrows():
    #print(row['Vorname'])
    name_split_1 = row['Vorname'].split(',')
    name_split_2 = name_split_1[1].split(' ')
    name_split_2.pop(0)
    name_split_2.pop(len(name_split_2)-1)
    name_split_2 = ' '.join(name_split_2)
    row['Vorname'] = name_split_2
    row['Nachname'] = name_split_1[0]

# Variable auf "none" setzen für spätere Verwendung
name_split_1 = None
name_split_2 = None

df_london_data.head()

<hr>
<h1>4. New York-Marathon:</h1>
<hr>

In [ ]:
# Temporäres Dateframe erzeugen
df_newyork_data_csv = pd.DataFrame(pd.DataFrame(
    columns=[
        'Jahr','Ges','Start_Time_of_day','Name','Runner_Number','FK_Time','Pace_per_Mile','Place_Overall','Place_Gender','Age_Group','Place_Age_Group','Place_Age_Graded','Time_Age_Graded'
        ,'Gun_Time','5K_Time','10K_Time','15K_Time','20K_Time','HK_Time','25K_Time','30K_Time','35K_Time','40K_Time'
        ])
    ,dtype=str)

# Daten einlesen (Im Jahr 2012 fand kein Marathon statt)
for year in [2007,2008,2009,2010,2011,2013,2014,2015,2016,2017,2018,2019]:
        file_path = main_data_path + 'NYC/daten_wmm_nyc_' + str(year) + '.csv'
        df_newyork_data_csv_temp = pd.read_csv(filepath_or_buffer=file_path,
                header=0, sep=';',decimal='.'
                ,names=[
                'Jahr','Ges','Start_Time_of_day','Name','Runner_Number','FK_Time','Pace_per_Mile','Place_Overall','Place_Gender','Age_Group','Place_Age_Group','Place_Age_Graded','Time_Age_Graded'
                ,'Gun_Time','5K_Time','10K_Time','15K_Time','20K_Time','HK_Time','25K_Time','30K_Time','35K_Time','40K_Time'
                ]
        )
        df_newyork_data_csv = df_newyork_data_csv.append(df_newyork_data_csv_temp, ignore_index=True)

df_newyork_data_csv.head()

In [ ]:
# Nicht benötigte Spalten entfernen
df_newyork_data = df_newyork_data_csv.drop(
    columns=['Runner_Number','Pace_per_Mile','Place_Overall','Age_Group','Place_Age_Group','Place_Age_Graded','Time_Age_Graded','Gun_Time'
    ])

# Spalten hinzufügen
df_newyork_data['Datum'] = None
df_newyork_data['Nachname'] = None
df_newyork_data['Ort'] = 'NewYork'

# Datum für für das jeweilige Jahr eintragen
df_newyork_data['Datum'].mask(df_newyork_data['Jahr'] == 2019,'03.11.2019',inplace=True)
df_newyork_data['Datum'].mask(df_newyork_data['Jahr'] == 2018,'04.11.2018',inplace=True)
df_newyork_data['Datum'].mask(df_newyork_data['Jahr'] == 2017,'05.11.2017',inplace=True)
df_newyork_data['Datum'].mask(df_newyork_data['Jahr'] == 2016,'06.11.2016',inplace=True)
df_newyork_data['Datum'].mask(df_newyork_data['Jahr'] == 2015,'01.11.2015',inplace=True)
df_newyork_data['Datum'].mask(df_newyork_data['Jahr'] == 2014,'02.11.2014',inplace=True)
df_newyork_data['Datum'].mask(df_newyork_data['Jahr'] == 2013,'03.11.2013',inplace=True)
df_newyork_data['Datum'].mask(df_newyork_data['Jahr'] == 2011,'06.11.2011',inplace=True)
df_newyork_data['Datum'].mask(df_newyork_data['Jahr'] == 2010,'07.11.2010',inplace=True)
df_newyork_data['Datum'].mask(df_newyork_data['Jahr'] == 2009,'01.11.2009',inplace=True)
df_newyork_data['Datum'].mask(df_newyork_data['Jahr'] == 2008,'02.11.2008',inplace=True)
df_newyork_data['Datum'].mask(df_newyork_data['Jahr'] == 2007,'04.11.2007',inplace=True)

# Spalten umbenennen
df_newyork_data = df_newyork_data.rename(
    columns={'Ges':'Geschlecht','Place_Gender':'Platz','FK_Time':'T_KM_FN','Name':'Vorname','Start_Time_of_day':'Startzeit',
    '5K_Time':'T_KM_5','10K_Time':'T_KM_10','15K_Time':'T_KM_15','20K_Time':'T_KM_20','HK_Time':'T_KM_HM','25K_Time':'T_KM_25','30K_Time':'T_KM_30','35K_Time':'T_KM_35','40K_Time':'T_KM_40'})

# Uhrzeit korrigieren: 2:00PM zu 12:00PM (Fehler ist beim abziehen der Daten entstanden)
df_newyork_data['Startzeit'].mask(df_newyork_data['Jahr'] == 2018,'12:00PM',inplace=True)

# Spalten umsortieren
df_newyork_data = df_newyork_data[['Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','T_KM_FN','T_KM_5','T_KM_10','T_KM_15','T_KM_20','T_KM_HM','T_KM_25','T_KM_30','T_KM_35','T_KM_40']]

# Inhalt aus der ursprünglichen Spalte Name in Vorname und Nachname trennen
for index, row in df_newyork_data.iterrows():
    #print(row['Vorname'])
    name_split = row['Vorname'].split(' ')
    name_vname = name_split[0]
    name_split.pop(0)
    name_nname = ' '.join(name_split)
    row['Vorname'] = name_vname
    row['Nachname'] = name_nname
    #start_zeit = row['Startzeit']
    #row['Startzeit'] = start_zeit[:-2]

# Variable auf "none" setzen für spätere Verwendung
name_split = None

df_newyork_data.head()

<hr>
<h1>5. Tokyo-Marathon:</h1>
<hr>

In [ ]:
# Temporäres Dateframe erzeugen (für die Jahre 2007 bis 2014)

df_tokyo_data_csv_1 = pd.DataFrame(pd.DataFrame(
    columns=[
        'Jahr','Ges','Name','Number','Time','Time_Chip ','Place','5K_Time','10K_Time','15K_Time','20K_Time','HK_Time','25K_Time','30K_Time','35K_Time','40K_Time','FK_Time'
        ])
    ,dtype=str)

# Temporäres Dateframe erzeugen (für die Jahre 2015 bis 2019)
df_tokyo_data_csv_2 = pd.DataFrame(pd.DataFrame(
    columns=[
        'Jahr','Ges','Place_Overall','Number_Card','Name','Age_Group','Place_Age_Group','Place_Gender','Time_net','Time_gross','5K_Time','10K_Time','15K_Time','20K_Time'
        ,'HK_Time','25K_Time','30K_Time','35K_Time','40K_Time','FK_Time'
        ])
    ,dtype=str)

# Daten einlesen (2007 bis 2014)
for year in range(2007,2015):
        file_path = main_data_path + 'Tokyo/daten_wmm_tokyo_' + str(year) + '.csv'
        df_tokyo_data_csv_temp_1 = pd.read_csv(filepath_or_buffer=file_path,
                header=0, sep=';',decimal='.'
                ,names=[
                    'Jahr','Ges','Name','Number','Time','Time_Chip ','Place','5K_Time','10K_Time','15K_Time','20K_Time','HK_Time','25K_Time','30K_Time','35K_Time','40K_Time','FK_Time'
                ]
        )
        df_tokyo_data_csv_1 = df_tokyo_data_csv_1.append(df_tokyo_data_csv_temp_1, ignore_index=True)

# Daten einlesen (2015 bis 2019)
for year in range(2015,2020):
        file_path = main_data_path + 'Tokyo/daten_wmm_tokyo_' + str(year) + '.csv'
        df_tokyo_data_csv_temp_2 = pd.read_csv(filepath_or_buffer=file_path,
                header=0, sep=';',decimal='.'
                ,names=[
                    'Jahr','Ges','Place_Overall','Number_Card','Name','Age_Group','Place_Age_Group','Place_Gender','Time_net','Time_gross','5K_Time','10K_Time','15K_Time'
                    ,'20K_Time','HK_Time','25K_Time','30K_Time','35K_Time','40K_Time','FK_Time'
                ]
        )
        df_tokyo_data_csv_2 = df_tokyo_data_csv_2.append(df_tokyo_data_csv_temp_2, ignore_index=True)

In [ ]:
df_tokyo_data_csv_1.head()

In [ ]:
# Nicht benötigte Spalten entfernen (Jahr 2007 bis 2014)
df_tokyo_data_1 = df_tokyo_data_csv_1.drop(
    columns=['Time', 'Time_Chip '
    ])

# Spalten hinzufügen (Jahr 2007 bis 2014)
df_tokyo_data_1['Datum'] = None
df_tokyo_data_1['Startzeit'] = None
df_tokyo_data_1['Ort'] = 'Toyko'

# Spalten umbenennen (Jahr 2007 bis 2014)
df_tokyo_data_1 = df_tokyo_data_1.rename(
    columns={'Ges':'Geschlecht','Place':'Platz','FK_Time':'T_KM_FN','Name':'Vorname','Number':'Nachname','FK_Time':'T_KM_FN',
    '5K_Time':'T_KM_5','10K_Time':'T_KM_10','15K_Time':'T_KM_15','20K_Time':'T_KM_20','HK_Time':'T_KM_HM','25K_Time':'T_KM_25','30K_Time':'T_KM_30','35K_Time':'T_KM_35','40K_Time':'T_KM_40'})

# Spalten umsortieren (Jahr 2007 bis 2014)
df_tokyo_data_1 = df_tokyo_data_1[['Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','T_KM_FN','T_KM_5','T_KM_10','T_KM_15','T_KM_20','T_KM_HM','T_KM_25','T_KM_30','T_KM_35','T_KM_40']]

df_tokyo_data_1.head()

In [ ]:
df_tokyo_data_csv_2.head()

In [ ]:
# Nicht benötigte Spalten entfernen (Jahr 2015 bis 2019)
df_tokyo_data_2 = df_tokyo_data_csv_2.drop(
    columns=['Place_Overall','Age_Group','Place_Age_Group','Time_net','Time_gross'
    ])
# Spalten hinzufügen (Jahr 2015 bis 2019)
df_tokyo_data_2['Datum'] = None
df_tokyo_data_2['Startzeit'] = None
df_tokyo_data_2['Ort'] = 'Toyko'

# Spalten umbenennen (Jahr 2015 bis 2019)
df_tokyo_data_2 = df_tokyo_data_2.rename(
    columns={'Ges':'Geschlecht','Place_Gender':'Platz','FK_Time':'T_KM_FN','Name':'Vorname','Number_Card':'Nachname','FK_Time':'T_KM_FN',
    '5K_Time':'T_KM_5','10K_Time':'T_KM_10','15K_Time':'T_KM_15','20K_Time':'T_KM_20','HK_Time':'T_KM_HM','25K_Time':'T_KM_25','30K_Time':'T_KM_30','35K_Time':'T_KM_35','40K_Time':'T_KM_40'})

# Spalten umsortieren (Jahr 2015 bis 2019)
df_tokyo_data_2 = df_tokyo_data_2[['Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','T_KM_FN','T_KM_5','T_KM_10','T_KM_15','T_KM_20','T_KM_HM','T_KM_25','T_KM_30','T_KM_35','T_KM_40']]

df_tokyo_data_2.head()

In [ ]:
# Datensätze aus den Jahren 2007 bis 2014 mit den Datensätzen aus den Jahren 2015 bis 2019 zusammenführen
df_tokyo_data = pd.concat([df_tokyo_data_1,df_tokyo_data_2], ignore_index=True)

# Datum für für das jeweilige Jahr eintragen (2007 bis 2019)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2019,'03.03.2019',inplace=True)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2018,'25.02.2018',inplace=True)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2017,'26.02.2017',inplace=True)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2016,'28.02.2016',inplace=True)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2015,'22.02.2015',inplace=True)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2014,'23.02.2014',inplace=True)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2013,'24.02.2013',inplace=True)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2012,'26.02.2012',inplace=True)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2011,'27.02.2011',inplace=True)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2010,'28.02.2010',inplace=True)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2009,'22.03.2009',inplace=True)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2008,'17.02.2008',inplace=True)
df_tokyo_data['Datum'].mask(df_tokyo_data['Jahr'] == 2007,'18.02.2007',inplace=True)

# Inhalt aus der ursprünglichen Spalte Name in Vorname und Nachname trennen
for index, row in df_tokyo_data.iterrows():
    #print(row['Vorname'])
    name_split = row['Vorname'].split(' ')
    if len(name_split) > 2:
        row['Nachname'] = name_split[1] + ' ' + name_split[2]
    else:
        row['Nachname'] = name_split[1]

    row['Vorname'] = name_split[0]
    
# Variable auf "none" setzen für spätere Verwendung
name_split = None

df_tokyo_data.head()

<hr>
<h1>Alle eingelesenen und harmonisierten Datensätze zusammenführen</h1>
<hr>

In [ ]:
# Alle Datensätze zusammenführen
df_wmm_data_all = pd.concat([df_berlin_data,df_chicago_data,df_london_data,df_newyork_data,df_tokyo_data], ignore_index=True)
df_wmm_data_all.head()

In [ ]:
# Alle Datensätze in eine CSV-Datei speichern.
file_name = main_data_path + "wmm_data/daten_wmm_all.csv"
df_wmm_data_all.to_csv(file_name, sep=';', index=False)