In [45]:
import pandas as pd
import numpy as np
import statsmodels as sm
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from dateutil.parser import parse
import time
import os
import pickle

In [46]:
# Pfad zu den harmonisierten Daten
file_name_harm = 'daten_wmm_all_harm.csv'
data_path = '/home/paul/python_projects/masterthesis/wma/data/wmm_data/'
#data_path = '/home/paul/python_projects/masterthesis/data/wmm_data/'

In [47]:
# Daten einlesen
df_data_csv = pd.DataFrame(pd.read_csv(data_path + file_name_harm,
    header=0, sep=';', encoding='utf-8',
    usecols=[
        'Jahr', 'Ort','Geschlecht', 'Vorname', 'Nachname','Platz','Datum','Startzeit'
        ,'T_KM_FN', 'T_KM_5', 'T_KM_10', 'T_KM_15', 'T_KM_20', 'T_KM_HM', 'T_KM_25', 'T_KM_30', 'T_KM_35', 'T_KM_40'
    ],    
    dtype={
        'Jahr':str, 'Ort':str,'Geschlecht':str, 'Vorname':str, 'Nachname':str,'Platz':int,'Datum': str, 'Startzeit':str
        ,'T_KM_FN':str, 'T_KM_5':str, 'T_KM_10':str, 'T_KM_15':str, 'T_KM_20':str, 'T_KM_HM':str, 'T_KM_25':str, 'T_KM_30':str, 'T_KM_35':str, 'T_KM_40':str
        },
    low_memory=False
))

df_data_csv.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40
0,2019,Berlin,M,Kenenisa,Bekele,1,NaN,NaN,02:01:41,00:14:24,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:55,01:41:15,01:55:30
1,2019,Berlin,M,Birhanu,Legese,2,NaN,NaN,02:02:48,00:14:25,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:53,01:41:02,01:56:00
2,2019,Berlin,M,Sisay,Lemma,3,NaN,NaN,02:03:36,00:14:25,00:28:52,00:43:29,00:57:58,01:01:06,01:12:31,01:26:53,01:41:16,01:56:54
3,2019,Berlin,M,Jonathan,Korir,4,NaN,NaN,02:06:45,00:14:25,00:28:53,00:43:30,00:57:58,01:01:06,01:12:31,01:27:42,01:43:39,01:59:49
4,2019,Berlin,M,Felix,Kandie,5,NaN,NaN,02:08:07,00:14:43,00:29:30,00:44:19,00:59:06,01:02:20,01:14:04,01:28:58,01:44:10,02:00:27

In [48]:
# Dataframe kopieren
df_data = df_data_csv.copy()

# EM -Dash überall entfernen
df_data.replace('–',np.NaN,inplace=True)

In [50]:
# Datum setzen und konvertieren


# Datum: Berlin
df_data['Datum'].mask((df_data['Jahr'] == '2019') & (df_data['Ort'] == 'Berlin'),'2019-09-29',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2018') & (df_data['Ort'] == 'Berlin'),'2018-09-16',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2017') & (df_data['Ort'] == 'Berlin'),'2017-09-24',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2016') & (df_data['Ort'] == 'Berlin'),'2016-09-25',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2015') & (df_data['Ort'] == 'Berlin'),'2015-09-27',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2014') & (df_data['Ort'] == 'Berlin'),'2014-09-28',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2013') & (df_data['Ort'] == 'Berlin'),'2013-09-29',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2012') & (df_data['Ort'] == 'Berlin'),'2012-09-30',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2011') & (df_data['Ort'] == 'Berlin'),'2011-09-25',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2010') & (df_data['Ort'] == 'Berlin'),'2010-09-26',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2009') & (df_data['Ort'] == 'Berlin'),'2009-09-20',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2008') & (df_data['Ort'] == 'Berlin'),'2008-09-28',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2007') & (df_data['Ort'] == 'Berlin'),'2007-09-30',inplace=True)

# Datum: Chicago
df_data['Datum'].mask((df_data['Jahr'] == '2019') & (df_data['Ort'] == 'Chicago'),'2019-10-13',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2018') & (df_data['Ort'] == 'Chicago'),'2018-10-07',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2017') & (df_data['Ort'] == 'Chicago'),'2017-10-08',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2016') & (df_data['Ort'] == 'Chicago'),'2016-10-09',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2015') & (df_data['Ort'] == 'Chicago'),'2015-10-11',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2014') & (df_data['Ort'] == 'Chicago'),'2014-10-12',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2013') & (df_data['Ort'] == 'Chicago'),'2013-10-13',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2012') & (df_data['Ort'] == 'Chicago'),'2012-10-07',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2011') & (df_data['Ort'] == 'Chicago'),'2011-10-09',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2010') & (df_data['Ort'] == 'Chicago'),'2010-10-10',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2009') & (df_data['Ort'] == 'Chicago'),'2009-10-11',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2008') & (df_data['Ort'] == 'Chicago'),'2008-10-12',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2007') & (df_data['Ort'] == 'Chicago'),'2007-10-07',inplace=True)

# Datum: London
df_data['Datum'].mask((df_data['Jahr'] == '2019') & (df_data['Ort'] == 'London'),'2019-04-28',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2018') & (df_data['Ort'] == 'London'),'2018-04-22',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2017') & (df_data['Ort'] == 'London'),'2017-04-23',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2016') & (df_data['Ort'] == 'London'),'2016-04-24',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2015') & (df_data['Ort'] == 'London'),'2015-04-26',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2014') & (df_data['Ort'] == 'London'),'2014-04-13',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2013') & (df_data['Ort'] == 'London'),'2013-04-21',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2012') & (df_data['Ort'] == 'London'),'2012-04-22',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2011') & (df_data['Ort'] == 'London'),'2011-04-17',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2010') & (df_data['Ort'] == 'London'),'2010-04-25',inplace=True)

# Datum: NewYork -> 2012 Auf Grund eines Unwetters fand kein Marathon statt
df_data['Datum'].mask((df_data['Jahr'] == '2019') & (df_data['Ort'] == 'NewYork'),'2019-11-03..',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2018') & (df_data['Ort'] == 'NewYork'),'2018-11-04..',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2017') & (df_data['Ort'] == 'NewYork'),'2017-11-05..',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2016') & (df_data['Ort'] == 'NewYork'),'2016-11-06..',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2015') & (df_data['Ort'] == 'NewYork'),'2015-11-01..',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2014') & (df_data['Ort'] == 'NewYork'),'2014-11-02..',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2013') & (df_data['Ort'] == 'NewYork'),'2013-11-03..',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2011') & (df_data['Ort'] == 'NewYork'),'2011-11-06..',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2010') & (df_data['Ort'] == 'NewYork'),'2010-11-07..',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2009') & (df_data['Ort'] == 'NewYork'),'2009-11-01..',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2008') & (df_data['Ort'] == 'NewYork'),'2008-11-02..',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2007') & (df_data['Ort'] == 'NewYork'),'2007-11-04..',inplace=True)

# Datum: Tokyo
df_data['Datum'].mask((df_data['Jahr'] == '2019') & (df_data['Ort'] == 'Tokyo'),'2019-03-03',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2018') & (df_data['Ort'] == 'Tokyo'),'2018-02-25',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2017') & (df_data['Ort'] == 'Tokyo'),'2017-02-26',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2016') & (df_data['Ort'] == 'Tokyo'),'2016-02-28',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2015') & (df_data['Ort'] == 'Tokyo'),'2015-02-22',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2014') & (df_data['Ort'] == 'Tokyo'),'2014-02-23',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2013') & (df_data['Ort'] == 'Tokyo'),'2013-02-24',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2012') & (df_data['Ort'] == 'Tokyo'),'2012-02-26',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2011') & (df_data['Ort'] == 'Tokyo'),'2011-02-27',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2010') & (df_data['Ort'] == 'Tokyo'),'2010-02-28',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2009') & (df_data['Ort'] == 'Tokyo'),'2009-03-22',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2008') & (df_data['Ort'] == 'Tokyo'),'2008-02-17',inplace=True)
df_data['Datum'].mask((df_data['Jahr'] == '2007') & (df_data['Ort'] == 'Tokyo'),'2007-02-18',inplace=True)

In [51]:
df_data['Datum']= df_data['Datum'].astype('datetime64')

In [52]:
#df_data[(df_data['Ort'] == 'Tokyo') & (df_data['Jahr'] == '2018')]
df_data_2 = df_data.copy()

In [53]:
# Startzeit konvertieren
df_data_2.groupby(['Startzeit','Ort'],dropna=False, as_index=False)[['Jahr']].count()

   Startzeit      Ort  Jahr
0   07:30:02  Chicago    79
1   07:30:03  Chicago    40
2   07:30:04  Chicago     1
3   09:00:00   London    40
4   09:15:01   London    30
5   09:15:02   London    10
6   09:20:01   London    10
7   09:25:01   London    10
8   09:45:00   London    30
9   10:00:00   London    20
10  10:00:01   London    10
11  10:00:02   London    10
12  10:00:11   London    10
13  10:10:00   London    10
14  10:10:01   London    10
15   12:00PM  NewYork    20
16    8:30AM  NewYork   160
17    9:00AM  NewYork    60
18       NaN   Berlin   260
19       NaN  Chicago   140
20       NaN    Tokyo   260

In [54]:
# Konvertierung der NewYork Uhrzeiten
df_data_2['Startzeit'].mask((df_data_2['Startzeit'] == '12:00PM') & (df_data_2['Ort'] == 'NewYork'),'12:00:00',inplace=True) # 12:00PM
df_data_2['Startzeit'].mask((df_data_2['Startzeit'] == '8:30AM') & (df_data_2['Ort'] == 'NewYork'),'08:30:00',inplace=True) # 08:30AM
df_data_2['Startzeit'].mask((df_data_2['Startzeit'] == '9:00AM') & (df_data_2['Ort'] == 'NewYork'),'09:00:00',inplace=True) # 09:00AM

df_data_2.groupby(['Startzeit','Ort'],dropna=False, as_index=False)[['Jahr']].count()

   Startzeit      Ort  Jahr
0   07:30:02  Chicago    79
1   07:30:03  Chicago    40
2   07:30:04  Chicago     1
3   08:30:00  NewYork   160
4   09:00:00   London    40
5   09:00:00  NewYork    60
6   09:15:01   London    30
7   09:15:02   London    10
8   09:20:01   London    10
9   09:25:01   London    10
10  09:45:00   London    30
11  10:00:00   London    20
12  10:00:01   London    10
13  10:00:02   London    10
14  10:00:11   London    10
15  10:10:00   London    10
16  10:10:01   London    10
17  12:00:00  NewYork    20
18       NaN   Berlin   260
19       NaN  Chicago   140
20       NaN    Tokyo   260

In [55]:
# Sekunden in der Startzeit auf 00 setzen
for index, row in df_data_2.iterrows():    
    start_zeit = row['Startzeit']
    if not pd.isnull(start_zeit) and len(start_zeit) > 1:
        #print(start_zeit[0:-2] + '00')
        df_data_2.loc[index,['Startzeit']] = (start_zeit[0:-2] + '00')

df_data_2.groupby(['Startzeit','Ort'],dropna=False, as_index=False)[['Jahr']].count()

   Startzeit      Ort  Jahr
0   07:30:00  Chicago   120
1   08:30:00  NewYork   160
2   09:00:00   London    40
3   09:00:00  NewYork    60
4   09:15:00   London    40
5   09:20:00   London    10
6   09:25:00   London    10
7   09:45:00   London    30
8   10:00:00   London    50
9   10:10:00   London    20
10  12:00:00  NewYork    20
11       NaN   Berlin   260
12       NaN  Chicago   140
13       NaN    Tokyo   260

<h3>Setzen der fehlenden Uhrzeit</h3>
<p><b>Es wird angenommen, dass die jeweiligen Marathonläufe zu denselben Uhrzeiten beginnen. Daher werden die fehlenden Startzeiten aus den verfügbaren Zeiten der letzten oder aktuellen Läufe abgeleitet.</b></p>
<lu>
<li><b>Berlin: </b>09:15:00 (Startzeit 2021)</li>
<li><b>Tokyo: </b>09:10:00 (Startzeit der letzten Jahre)</li>
<li><b>Chicago: </b>07:30:00 (Startzeit der letzten Jahre)</li>
</lu>

In [56]:
# Fehlende Zeiten setzen

df_data_2['Startzeit'].mask((df_data_2['Ort'] == 'Berlin'),'09:15:00',inplace=True) # Berlin -> 09:15:00
df_data_2['Startzeit'].mask((df_data_2['Ort'] == 'Tokyo'),'09:10:00',inplace=True) # Tokyo -> 09:10:00
df_data_2['Startzeit'].mask((df_data_2['Ort'] == 'Chicago'),'07:30:00',inplace=True) # Chicago -> 07:30:00

In [57]:
df_data_2.groupby(['Startzeit','Ort'],dropna=False, as_index=False)['Jahr'].count()

   Startzeit      Ort  Jahr
0   07:30:00  Chicago   260
1   08:30:00  NewYork   160
2   09:00:00   London    40
3   09:00:00  NewYork    60
4   09:10:00    Tokyo   260
5   09:15:00   Berlin   260
6   09:15:00   London    40
7   09:20:00   London    10
8   09:25:00   London    10
9   09:45:00   London    30
10  10:00:00   London    50
11  10:10:00   London    20
12  12:00:00  NewYork    20

<hr>
<h1>UTC-Zeiten</h1>
<p>Da die Wetterdaten in den UTC-Zeiten vorliegen, müssen die Startzeit zu den UTC-Zeiten konvertiert werden.</p>
<br>
<h2>Regeln der Zeitumstellung</h2>
<h3>USA</h3>
<a>https://www.nist.gov/pml/time-and-frequency-division/popular-links/daylight-saving-time-dst</a>
<p>Begins at 2:00 a.m. on the second Sunday of March (at 2 a.m. the local time time skips ahead to 3 a.m. so there is one less hour in the day)<br>
ends at 2:00 a.m. on the first Sunday of November (at 2 a.m. the local time becomes 1 a.m. and that hour is repeated, so there is an extra hour in the day)
</p>
<h3>Deutschland</h3>
<a>http://www.gesetze-im-internet.de/sozv/__2.html</a>
<p>(1) Die mitteleuropäische Sommerzeit beginnt jeweils am letzten Sonntag im März um 2 Uhr mitteleuropäischer Zeit. 
Im Zeitpunkt des Beginns der Sommerzeit wird die Stundenzählung um eine Stunde von 2 Uhr auf 3 Uhr vorgestellt.
<br>
(2) Die mitteleuropäische Sommerzeit endet jeweils am letzten Sonntag im Oktober um 3 Uhr mitteleuropäischer Sommerzeit. 
Im Zeitpunkt des Endes der Sommerzeit wird die Stundenzählung um eine Stunde von 3 Uhr auf 2 Uhr zurückgestellt. 
<br>
Die Stunde von 2 Uhr bis 3 Uhr erscheint dabei zweimal. Die erste Stunde (von 2 Uhr bis 3 Uhr mitteleuropäischer Sommerzeit) 
Wird mit 2A und die zweite Stunde (von 2 Uhr bis 3 Uhr mitteleuropäischer Zeit) mit 2B bezeichnet.
</p>
<h3>Großbritannien</h3>
<a>https://www.gov.uk/when-do-the-clocks-change</a>
<p>In the UK the clocks go forward 1 hour at 1am on the last Sunday in March, and back 1 hour at 2am on the last Sunday in October.</p>
<hr>

<h1>UTC-Zeiten setzen (mit Beachtung der Winter und Sommerzeit)</h1>
<h2>Zeiten zu UTC (Winter=normal)</h2>
<table>
<thead>
<tr><td>Stadt</td><td>Winter</td><td>Sommer</td></tr>
</thead>
<tbody>
<tr>
<td>Berlin</td>
<td>+1</td>
<td>+2</td>
</tr>
<tr>
<td>London</td>
<td>0</td>
<td>+1</td>
</tr>
<tr>
<td>New York</td>
<td>-5</td>
<td>-4</td>
</tr>
<tr>
<td>Chicago</td>
<td>-6</td>
<td>-5</td>
</tr>
<tr>
<td>Tokyo</td>
<td>+9</td>
<td>+9</td>
</tr>
</tbody>
</table>

Sommerzeit: Berlin, London und Chicago
<br>
Winterzeit(normal): NewYork (immer am Tag der Zeitumstellung), Tokyo (hat keine Zeitumstellung)
<hr>

In [58]:
df_data_3 = df_data_2.copy()

In [59]:
df_data_3.groupby(['Startzeit','Ort'],dropna=False, as_index=False)['Jahr'].count()

   Startzeit      Ort  Jahr
0   07:30:00  Chicago   260
1   08:30:00  NewYork   160
2   09:00:00   London    40
3   09:00:00  NewYork    60
4   09:10:00    Tokyo   260
5   09:15:00   Berlin   260
6   09:15:00   London    40
7   09:20:00   London    10
8   09:25:00   London    10
9   09:45:00   London    30
10  10:00:00   London    50
11  10:10:00   London    20
12  12:00:00  NewYork    20

In [60]:
# Datum und Uhrzeit zusammenführen
df_data_3['Datum_Startzeit_UTC'] = pd.to_datetime(df_data_3['Datum'].astype('str') + 'T' + df_data_3['Startzeit'].astype('str'))

In [61]:
df_data_3.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40,Datum_Startzeit_UTC
0,2019,Berlin,M,Kenenisa,Bekele,1,2019-09-29,09:15:00,02:01:41,00:14:24,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:55,01:41:15,01:55:30,2019-09-29 09:15:00
1,2019,Berlin,M,Birhanu,Legese,2,2019-09-29,09:15:00,02:02:48,00:14:25,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:53,01:41:02,01:56:00,2019-09-29 09:15:00
2,2019,Berlin,M,Sisay,Lemma,3,2019-09-29,09:15:00,02:03:36,00:14:25,00:28:52,00:43:29,00:57:58,01:01:06,01:12:31,01:26:53,01:41:16,01:56:54,2019-09-29 09:15:00
3,2019,Berlin,M,Jonathan,Korir,4,2019-09-29,09:15:00,02:06:45,00:14:25,00:28:53,00:43:30,00:57:58,01:01:06,01:12:31,01:27:42,01:43:39,01:59:49,2019-09-29 09:15:00
4,2019,Berlin,M,Felix,Kandie,5,2019-09-29,09:15:00,02:08:07,00:14:43,00:29:30,00:44:19,00:59:06,01:02:20,01:14:04,01:28:58,01:44:10,02:00:27,2019-09-29 09:15:00

In [62]:
df_data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1220 entries, 0 to 1219
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Jahr                 1220 non-null   object
 1   Ort                  1220 non-null   object
 2   Geschlecht           1220 non-null   object
 3   Vorname              1219 non-null   object
 4   Nachname             1220 non-null   object
 5   Platz                1220 non-null   int64
 6   Datum                1220 non-null   datetime64[ns]
 7   Startzeit            1220 non-null   object
 8   T_KM_FN              1220 non-null   object
 9   T_KM_5               1218 non-null   object
 10  T_KM_10              1218 non-null   object
 11  T_KM_15              1218 non-null   object
 12  T_KM_20              1218 non-null   object
 13  T_KM_HM              1218 non-null   object
 14  T_KM_25              1216 non-null   object
 15  T_KM_30              1216 non-null   object
 16  T_KM_35              1217 non-null   object
 17  T_KM_40              1216 non-null   object
 18  Datum_Startzeit_UTC  1220 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(16)
memory usage: 181.2+ KB

In [63]:
df_data_3.groupby(['Startzeit','Ort'],dropna=False, as_index=False)['Jahr'].count()

   Startzeit      Ort  Jahr
0   07:30:00  Chicago   260
1   08:30:00  NewYork   160
2   09:00:00   London    40
3   09:00:00  NewYork    60
4   09:10:00    Tokyo   260
5   09:15:00   Berlin   260
6   09:15:00   London    40
7   09:20:00   London    10
8   09:25:00   London    10
9   09:45:00   London    30
10  10:00:00   London    50
11  10:10:00   London    20
12  12:00:00  NewYork    20

In [64]:
# Die Uhrzeit unter Berücksichtigung der Winter- und Sommerzeit auf UTC umstellen
df_data_3['Datum_Startzeit_UTC'].mask((df_data_3['Ort'] == 'Berlin'),df_data_3['Datum_Startzeit_UTC'] - dt.timedelta(hours=2),inplace=True)
df_data_3['Datum_Startzeit_UTC'].mask((df_data_3['Ort'] == 'London'),df_data_3['Datum_Startzeit_UTC'] - dt.timedelta(hours=1),inplace=True)
df_data_3['Datum_Startzeit_UTC'].mask((df_data_3['Ort'] == 'Tokyo'),df_data_3['Datum_Startzeit_UTC'] - dt.timedelta(hours=9),inplace=True)
df_data_3['Datum_Startzeit_UTC'].mask((df_data_3['Ort'] == 'Chicago'),df_data_3['Datum_Startzeit_UTC'] + dt.timedelta(hours=5),inplace=True)
df_data_3['Datum_Startzeit_UTC'].mask((df_data_3['Ort'] == 'NewYork'),df_data_3['Datum_Startzeit_UTC'] + dt.timedelta(hours=5),inplace=True)

df_data_3.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40,Datum_Startzeit_UTC
0,2019,Berlin,M,Kenenisa,Bekele,1,2019-09-29,09:15:00,02:01:41,00:14:24,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:55,01:41:15,01:55:30,2019-09-29 07:15:00
1,2019,Berlin,M,Birhanu,Legese,2,2019-09-29,09:15:00,02:02:48,00:14:25,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:53,01:41:02,01:56:00,2019-09-29 07:15:00
2,2019,Berlin,M,Sisay,Lemma,3,2019-09-29,09:15:00,02:03:36,00:14:25,00:28:52,00:43:29,00:57:58,01:01:06,01:12:31,01:26:53,01:41:16,01:56:54,2019-09-29 07:15:00
3,2019,Berlin,M,Jonathan,Korir,4,2019-09-29,09:15:00,02:06:45,00:14:25,00:28:53,00:43:30,00:57:58,01:01:06,01:12:31,01:27:42,01:43:39,01:59:49,2019-09-29 07:15:00
4,2019,Berlin,M,Felix,Kandie,5,2019-09-29,09:15:00,02:08:07,00:14:43,00:29:30,00:44:19,00:59:06,01:02:20,01:14:04,01:28:58,01:44:10,02:00:27,2019-09-29 07:15:00

In [65]:
# Auskommentieren um die Uhrzeit zu prüfen
#df_data_3[df_data_3['Ort'] == 'Berlin'].groupby('Datum_Startzeit_UTC')['Jahr'].count()
#df_data_3[df_data_3['Ort'] == 'London'].groupby('Datum_Startzeit_UTC')['Jahr'].count()
#df_data_3[df_data_3['Ort'] == 'Tokyo'].groupby('Datum_Startzeit_UTC')['Jahr'].count()
#df_data_3[df_data_3['Ort'] == 'Chicago'].groupby('Datum_Startzeit_UTC')['Jahr'].count()
#df_data_3[df_data_3['Ort'] == 'NewYork'].groupby('Datum_Startzeit_UTC')['Jahr'].count()

<hr>
<h1>Zeiten in Sekunden umwandeln</h1>
<hr>

In [66]:
df_data_4 = df_data_3.copy()

In [67]:
df_data_4.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40,Datum_Startzeit_UTC
0,2019,Berlin,M,Kenenisa,Bekele,1,2019-09-29,09:15:00,02:01:41,00:14:24,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:55,01:41:15,01:55:30,2019-09-29 07:15:00
1,2019,Berlin,M,Birhanu,Legese,2,2019-09-29,09:15:00,02:02:48,00:14:25,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:53,01:41:02,01:56:00,2019-09-29 07:15:00
2,2019,Berlin,M,Sisay,Lemma,3,2019-09-29,09:15:00,02:03:36,00:14:25,00:28:52,00:43:29,00:57:58,01:01:06,01:12:31,01:26:53,01:41:16,01:56:54,2019-09-29 07:15:00
3,2019,Berlin,M,Jonathan,Korir,4,2019-09-29,09:15:00,02:06:45,00:14:25,00:28:53,00:43:30,00:57:58,01:01:06,01:12:31,01:27:42,01:43:39,01:59:49,2019-09-29 07:15:00
4,2019,Berlin,M,Felix,Kandie,5,2019-09-29,09:15:00,02:08:07,00:14:43,00:29:30,00:44:19,00:59:06,01:02:20,01:14:04,01:28:58,01:44:10,02:00:27,2019-09-29 07:15:00

In [68]:
# Anzahl der angezeigten Zeilen in JNP einstellen
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)
#df_data_4.groupby('T_KM_5',dropna=False, as_index=False)['Jahr'].count()

# Prüfen auf NaN Felder
df_data_4[df_data_4.isna().any(axis=1)]

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40,Datum_Startzeit_UTC
354,2011,Chicago,W,NaN,Hallissey,5,2011-10-09,07:30:00,02:29:27,00:17:41,00:35:16,00:53:11,01:10:57,01:14:50,01:28:36,01:46:12,02:03:58,02:21:48,2011-10-09 12:30:00
378,2012,Chicago,W,Laura,Portis,9,2012-10-07,07:30:00,02:37:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-10-07 12:30:00
728,2007,NewYork,M,Aleksandr,Kuzin,9,2007-11-04,09:00:00,2:14:01,0:15:49,0:31:30,0:46:46,1:02:19,1:05:47,NaN,NaN,NaN,NaN,2007-11-04 14:00:00
729,2007,NewYork,M,William,Kipsang,10,2007-11-04,09:00:00,2:15:32,0:15:48,0:31:27,0:46:13,1:02:17,1:05:45,NaN,NaN,NaN,NaN,2007-11-04 14:00:00
782,2010,NewYork,M,Moses,Kigen Kipkosgei,3,2010-11-07,08:30:00,2:10:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1:47:19,NaN,2010-11-07 13:30:00

In [69]:
# Zeitenfelder mit NaN auf 00:00:00 setzen
df_data_4.fillna('00:00:00',inplace=True)
df_data_4[df_data_4.isna().any(axis=1)]

Empty DataFrame
Columns: [Jahr, Ort, Geschlecht, Vorname, Nachname, Platz, Datum, Startzeit, T_KM_FN, T_KM_5, T_KM_10, T_KM_15, T_KM_20, T_KM_HM, T_KM_25, T_KM_30, T_KM_35, T_KM_40, Datum_Startzeit_UTC]
Index: []

In [70]:
# Felder für die Zeiten (in Sekunden) hinzufügen
df_data_4['S_KM_5'] = None
df_data_4['S_KM_10'] = None
df_data_4['S_KM_15'] = None
df_data_4['S_KM_20'] = None
df_data_4['S_KM_HM'] = None
df_data_4['S_KM_25'] = None
df_data_4['S_KM_30'] = None
df_data_4['S_KM_35'] = None
df_data_4['S_KM_40'] = None
df_data_4['S_KM_FN'] = None

In [71]:
# Zeiten in Sekunden umwandeln und in die daführ vorgesehenen Felder speichern
for index, row in df_data_4.iterrows():    
    km5 = time.strptime(row['T_KM_5'],'%H:%M:%S')
    km10 = time.strptime(row['T_KM_10'],'%H:%M:%S')
    km15 = time.strptime(row['T_KM_15'],'%H:%M:%S')
    km20 = time.strptime(row['T_KM_20'],'%H:%M:%S')
    kmhm = time.strptime(row['T_KM_HM'],'%H:%M:%S')
    km25 = time.strptime(row['T_KM_25'],'%H:%M:%S')
    km30 = time.strptime(row['T_KM_30'],'%H:%M:%S')
    km35 = time.strptime(row['T_KM_35'],'%H:%M:%S')
    km40 = time.strptime(row['T_KM_40'],'%H:%M:%S')
    kmfn = time.strptime(row['T_KM_FN'],'%H:%M:%S')

    df_data_4.loc[index,['S_KM_5']] = dt.timedelta(hours=km5.tm_hour, minutes=km5.tm_min, seconds=km5.tm_sec).total_seconds()
    df_data_4.loc[index,['S_KM_10']] = dt.timedelta(hours=km10.tm_hour, minutes=km10.tm_min, seconds=km10.tm_sec).total_seconds()
    df_data_4.loc[index,['S_KM_15']] = dt.timedelta(hours=km15.tm_hour, minutes=km15.tm_min, seconds=km15.tm_sec).total_seconds()
    df_data_4.loc[index,['S_KM_20']] = dt.timedelta(hours=km20.tm_hour, minutes=km20.tm_min, seconds=km20.tm_sec).total_seconds()
    df_data_4.loc[index,['S_KM_HM']] = dt.timedelta(hours=kmhm.tm_hour, minutes=kmhm.tm_min, seconds=kmhm.tm_sec).total_seconds()
    df_data_4.loc[index,['S_KM_25']] = dt.timedelta(hours=km25.tm_hour, minutes=km25.tm_min, seconds=km25.tm_sec).total_seconds()
    df_data_4.loc[index,['S_KM_30']] = dt.timedelta(hours=km30.tm_hour, minutes=km30.tm_min, seconds=km30.tm_sec).total_seconds()
    df_data_4.loc[index,['S_KM_35']] = dt.timedelta(hours=km35.tm_hour, minutes=km35.tm_min, seconds=km35.tm_sec).total_seconds()
    df_data_4.loc[index,['S_KM_40']] = dt.timedelta(hours=km40.tm_hour, minutes=km40.tm_min, seconds=km40.tm_sec).total_seconds()
    df_data_4.loc[index,['S_KM_FN']] = dt.timedelta(hours=kmfn.tm_hour, minutes=kmfn.tm_min, seconds=kmfn.tm_sec).total_seconds()

df_data_4.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40,Datum_Startzeit_UTC,S_KM_5,S_KM_10,S_KM_15,S_KM_20,S_KM_HM,S_KM_25,S_KM_30,S_KM_35,S_KM_40,S_KM_FN
0,2019,Berlin,M,Kenenisa,Bekele,1,2019-09-29,09:15:00,02:01:41,00:14:24,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:55,01:41:15,01:55:30,2019-09-29 07:15:00,864.0,1733.0,2609.0,3478.0,3665.0,4350.0,5215.0,6075.0,6930.0,7301.0
1,2019,Berlin,M,Birhanu,Legese,2,2019-09-29,09:15:00,02:02:48,00:14:25,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:53,01:41:02,01:56:00,2019-09-29 07:15:00,865.0,1733.0,2609.0,3478.0,3665.0,4350.0,5213.0,6062.0,6960.0,7368.0
2,2019,Berlin,M,Sisay,Lemma,3,2019-09-29,09:15:00,02:03:36,00:14:25,00:28:52,00:43:29,00:57:58,01:01:06,01:12:31,01:26:53,01:41:16,01:56:54,2019-09-29 07:15:00,865.0,1732.0,2609.0,3478.0,3666.0,4351.0,5213.0,6076.0,7014.0,7416.0
3,2019,Berlin,M,Jonathan,Korir,4,2019-09-29,09:15:00,02:06:45,00:14:25,00:28:53,00:43:30,00:57:58,01:01:06,01:12:31,01:27:42,01:43:39,01:59:49,2019-09-29 07:15:00,865.0,1733.0,2610.0,3478.0,3666.0,4351.0,5262.0,6219.0,7189.0,7605.0
4,2019,Berlin,M,Felix,Kandie,5,2019-09-29,09:15:00,02:08:07,00:14:43,00:29:30,00:44:19,00:59:06,01:02:20,01:14:04,01:28:58,01:44:10,02:00:27,2019-09-29 07:15:00,883.0,1770.0,2659.0,3546.0,3740.0,4444.0,5338.0,6250.0,7227.0,7687.0

In [72]:
# Reihenfolge der Felder ändern
df_data_5 = df_data_4[[
    'Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','Datum_Startzeit_UTC'
    ,'T_KM_5','S_KM_5','T_KM_10','S_KM_10','T_KM_15','S_KM_15','T_KM_20','S_KM_20','T_KM_HM','S_KM_HM'
    ,'T_KM_25','S_KM_25','T_KM_30','S_KM_30','T_KM_35','S_KM_35','T_KM_40','S_KM_40','T_KM_FN','S_KM_FN'
]].copy()

In [73]:
df_data_5.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,Datum_Startzeit_UTC,T_KM_5,S_KM_5,T_KM_10,S_KM_10,T_KM_15,S_KM_15,T_KM_20,S_KM_20,T_KM_HM,S_KM_HM,T_KM_25,S_KM_25,T_KM_30,S_KM_30,T_KM_35,S_KM_35,T_KM_40,S_KM_40,T_KM_FN,S_KM_FN
0,2019,Berlin,M,Kenenisa,Bekele,1,2019-09-29,09:15:00,2019-09-29 07:15:00,00:14:24,864.0,00:28:53,1733.0,00:43:29,2609.0,00:57:58,3478.0,01:01:05,3665.0,01:12:30,4350.0,01:26:55,5215.0,01:41:15,6075.0,01:55:30,6930.0,02:01:41,7301.0
1,2019,Berlin,M,Birhanu,Legese,2,2019-09-29,09:15:00,2019-09-29 07:15:00,00:14:25,865.0,00:28:53,1733.0,00:43:29,2609.0,00:57:58,3478.0,01:01:05,3665.0,01:12:30,4350.0,01:26:53,5213.0,01:41:02,6062.0,01:56:00,6960.0,02:02:48,7368.0
2,2019,Berlin,M,Sisay,Lemma,3,2019-09-29,09:15:00,2019-09-29 07:15:00,00:14:25,865.0,00:28:52,1732.0,00:43:29,2609.0,00:57:58,3478.0,01:01:06,3666.0,01:12:31,4351.0,01:26:53,5213.0,01:41:16,6076.0,01:56:54,7014.0,02:03:36,7416.0
3,2019,Berlin,M,Jonathan,Korir,4,2019-09-29,09:15:00,2019-09-29 07:15:00,00:14:25,865.0,00:28:53,1733.0,00:43:30,2610.0,00:57:58,3478.0,01:01:06,3666.0,01:12:31,4351.0,01:27:42,5262.0,01:43:39,6219.0,01:59:49,7189.0,02:06:45,7605.0
4,2019,Berlin,M,Felix,Kandie,5,2019-09-29,09:15:00,2019-09-29 07:15:00,00:14:43,883.0,00:29:30,1770.0,00:44:19,2659.0,00:59:06,3546.0,01:02:20,3740.0,01:14:04,4444.0,01:28:58,5338.0,01:44:10,6250.0,02:00:27,7227.0,02:08:07,7687.0

In [74]:
# Platzierung anpassen:
# Berlin: Anpassung der Platzierung der Frauen, da beim Berlin-Marathon keine geschlechtspezifische Platzierung gibt. Außer in den Jahren 2018 und 2019
# Tokyo: Verschiebung im Jahr 2011, da die Erstplatzierte im Jahre 2012 disqualifiziert wurde. https://de.wikipedia.org/wiki/Tatjana_Alexejewna_Arjassowa
# https://worldathletics.org/athletes/russia/tatyana-aryasova-14298087?competitorid=tatyana-aryasova-14298087&competitorid=tatyana-aryasova-14298087&competitorid=tatyana-aryasova-14298087&competitorid=tatyana-aryasova-14298087&counrty=russia&counrty=russia&counrty=russia&counrty=russia&competitorid=tatyana-aryasova-14298087&counrty=russia
df_data_5.loc[(df_data_5.Geschlecht == 'W') & (df_data_5.Ort == 'Berlin')].groupby(['Platz','Geschlecht','Ort', 'Jahr'], as_index=True).agg(
    {     
        'Platz':['count'] #,'max','min']
    }
)

                             Platz
                             count
Platz Geschlecht Ort    Jahr
1     W          Berlin 2018     1
                        2019     1
2     W          Berlin 2018     1
                        2019     1
3     W          Berlin 2018     1
                        2019     1
4     W          Berlin 2018     1
                        2019     1
5     W          Berlin 2018     1
                        2019     1
6     W          Berlin 2018     1
                        2019     1
7     W          Berlin 2018     1
                        2019     1
8     W          Berlin 2018     1
                        2019     1
9     W          Berlin 2018     1
                        2019     1
10    W          Berlin 2018     1
                        2019     1
15    W          Berlin 2008     1
21    W          Berlin 2008     1
23    W          Berlin 2012     1
24    W          Berlin 2012     1
                        2014     1
27    W          Berlin 2014     1
28    W          Berlin 2010     1
                        2011     1
30    W          Berlin 2012     1
31    W          Berlin 2007     1
                        2009     1
                        2014     1
32    W          Berlin 2010     1
                        2013     1
33    W          Berlin 2008     1
                        2012     1
34    W          Berlin 2012     1
                        2016     1
35    W          Berlin 2014     1
36    W          Berlin 2007     1
38    W          Berlin 2007     1
                        2008     1
                        2011     1
39    W          Berlin 2007     1
                        2014     1
40    W          Berlin 2009     1
                        2010     1
                        2013     1
41    W          Berlin 2009     1
                        2010     1
42    W          Berlin 2009     1
                        2016     1
43    W          Berlin 2011     1
44    W          Berlin 2011     1
45    W          Berlin 2013     1
46    W          Berlin 2009     1
47    W          Berlin 2012     1
48    W          Berlin 2011     1
                        2014     1
                        2015     1
                        2016     1
49    W          Berlin 2010     1
52    W          Berlin 2011     1
53    W          Berlin 2007     1
                        2017     1
54    W          Berlin 2014     1
                        2017     1
55    W          Berlin 2015     1
                        2017     1
56    W          Berlin 2010     1
                        2014     1
57    W          Berlin 2009     1
                        2013     1
59    W          Berlin 2011     1
62    W          Berlin 2011     1
                        2013     1
                        2017     1
63    W          Berlin 2008     1
64    W          Berlin 2007     1
                        2012     1
65    W          Berlin 2012     1
66    W          Berlin 2007     1
68    W          Berlin 2007     1
                        2012     1
                        2014     1
70    W          Berlin 2016     1
71    W          Berlin 2015     1
73    W          Berlin 2008     1
74    W          Berlin 2010     1
                        2011     1
                        2016     1
75    W          Berlin 2010     1
                        2015     1
76    W          Berlin 2011     1
78    W          Berlin 2009     1
86    W          Berlin 2013     1
87    W          Berlin 2010     1
88    W          Berlin 2012     1
91    W          Berlin 2016     1
92    W          Berlin 2008     1
93    W          Berlin 2017     1
94    W          Berlin 2017     1
96    W          Berlin 2007     1
97    W          Berlin 2010     1
100   W          Berlin 2009     1
101   W          Berlin 2007     1
104   W          Berlin 2015     1
105   W          Berlin 2015     1
117   W          Berlin 2015     1
                        2017     1
118   W          Berlin 2015     1
119   W          Berlin 2015     1
120   W          Berlin 2008     1
121   W          Berlin 2015     1
124   W          Berlin 2009     1
126   W          Berlin 2008     1
129   W          Berlin 2017     1
130   W          Berlin 2008     1
132   W          Berlin 2009     1
145   W          Berlin 2013     1
147   W          Berlin 2013     1
154   W          Berlin 2013     1
158   W          Berlin 2013     1
162   W          Berlin 2014     1
164   W          Berlin 2017     1
166   W          Berlin 2017     1
176   W          Berlin 2016     1
211   W          Berlin 2016     1
228   W          Berlin 2016     1
263   W          Berlin 2016     1

In [75]:
#df_data_5['Platz'].loc[(df_data_5.Geschlecht == 'W') & (df_data_5.Ort == 'Berlin') & (df_data_5.Jahr < '2018')].rank(method='first')
df_data_5.sort_values(by=['Ort','Jahr','Geschlecht','Platz'],inplace=True)
df_data_5.reset_index(drop=True, inplace=True)
df_data_5.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,Datum_Startzeit_UTC,T_KM_5,S_KM_5,T_KM_10,S_KM_10,T_KM_15,S_KM_15,T_KM_20,S_KM_20,T_KM_HM,S_KM_HM,T_KM_25,S_KM_25,T_KM_30,S_KM_30,T_KM_35,S_KM_35,T_KM_40,S_KM_40,T_KM_FN,S_KM_FN
0,2007,Berlin,M,Haile,Gebrselassie,1,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:44,884.0,00:29:27,1767.0,00:44:16,2656.0,00:59:10,3550.0,01:02:29,3749.0,01:14:05,4445.0,01:28:56,5336.0,01:43:38,6218.0,01:58:08,7088.0,02:04:26,7466.0
1,2007,Berlin,M,Abel,Kirui,2,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:57,897.0,00:30:00,1800.0,00:45:06,2706.0,01:00:16,3616.0,01:03:41,3821.0,01:15:22,4522.0,01:30:01,5401.0,01:44:52,6292.0,02:00:09,7209.0,02:06:51,7611.0
2,2007,Berlin,M,Salim,Kipsang,3,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:57,897.0,00:30:01,1801.0,00:45:06,2706.0,01:00:16,3616.0,01:03:41,3821.0,01:15:22,4522.0,01:30:05,5405.0,01:44:53,6293.0,02:00:27,7227.0,02:07:29,7649.0
3,2007,Berlin,M,Philip,Manyim,4,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:58,898.0,00:30:00,1800.0,00:45:08,2708.0,01:00:16,3616.0,01:03:41,3821.0,01:15:22,4522.0,01:30:01,5401.0,01:44:53,6293.0,02:00:26,7226.0,02:08:01,7681.0
4,2007,Berlin,M,Mesfin,Adimasu,5,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:57,897.0,00:30:00,1800.0,00:45:06,2706.0,01:00:16,3616.0,01:03:41,3821.0,01:15:22,4522.0,01:30:05,5405.0,01:45:14,6314.0,02:01:58,7318.0,02:09:49,7789.0

In [76]:
# Anpassung der Platzierung - Berlin
j_prev = None
p_new = None
for i, row in df_data_5.loc[(df_data_5.Geschlecht == 'W') & (df_data_5.Ort == 'Berlin') & (df_data_5.Jahr < '2018')].iterrows():
    j_act = row['Jahr']
    if(j_prev == j_act):
        p_new = p_new + 1
        df_data_5.loc[i,['Platz']] = p_new
        #print(p_new)
    else:
        p_new = 1
        df_data_5.loc[i,['Platz']] = p_new
        #print(p_new)
    j_prev = row['Jahr']

df_data_5.loc[(df_data_5.Geschlecht == 'W') & (df_data_5.Ort == 'Berlin')]

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,Datum_Startzeit_UTC,T_KM_5,S_KM_5,T_KM_10,S_KM_10,T_KM_15,S_KM_15,T_KM_20,S_KM_20,T_KM_HM,S_KM_HM,T_KM_25,S_KM_25,T_KM_30,S_KM_30,T_KM_35,S_KM_35,T_KM_40,S_KM_40,T_KM_FN,S_KM_FN
10,2007,Berlin,W,Gete,Wami,1,2007-09-30,09:15:00,2007-09-30 07:15:00,00:16:33,993.0,00:33:21,2001.0,00:49:58,2998.0,01:06:41,4001.0,01:10:25,4225.0,01:23:35,5015.0,01:40:45,6045.0,01:58:01,7081.0,02:15:38,8138.0,02:23:17,8597.0
11,2007,Berlin,W,Irina,Mikitenko,2,2007-09-30,09:15:00,2007-09-30 07:15:00,00:17:15,1035.0,00:34:34,2074.0,00:51:50,3110.0,01:09:04,4144.0,01:12:57,4377.0,01:26:19,5179.0,01:43:28,6208.0,02:00:38,7238.0,02:17:38,8258.0,02:24:51,8691.0
12,2007,Berlin,W,Helena,Kirop,3,2007-09-30,09:15:00,2007-09-30 07:15:00,00:17:12,1032.0,00:34:24,2064.0,00:51:33,3093.0,01:08:44,4124.0,01:12:31,4351.0,01:25:43,5143.0,01:43:21,6201.0,02:01:21,7281.0,02:18:54,8334.0,02:26:27,8787.0
13,2007,Berlin,W,Irina,Timofeyeva,4,2007-09-30,09:15:00,2007-09-30 07:15:00,00:17:16,1036.0,00:34:34,2074.0,00:51:49,3109.0,01:09:04,4144.0,01:12:57,4377.0,01:26:19,5179.0,01:43:28,6208.0,02:00:38,7238.0,02:18:30,8310.0,02:26:54,8814.0
14,2007,Berlin,W,Naoko,Sakamoto,5,2007-09-30,09:15:00,2007-09-30 07:15:00,00:17:12,1032.0,00:34:23,2063.0,00:51:33,3093.0,01:08:43,4123.0,01:12:31,4351.0,01:25:43,5143.0,01:43:20,6200.0,02:01:23,7283.0,02:20:04,8404.0,02:28:33,8913.0
15,2007,Berlin,W,Hayley,Haining,6,2007-09-30,09:15:00,2007-09-30 07:15:00,00:17:43,1063.0,00:35:31,2131.0,00:53:21,3201.0,01:11:06,4266.0,01:15:05,4505.0,01:28:55,5335.0,01:46:43,6403.0,02:04:35,7475.0,02:22:49,8569.0,02:30:43,9043.0
16,2007,Berlin,W,Rose,Kerubo Nyangacha,7,2007-09-30,09:15:00,2007-09-30 07:15:00,00:17:15,1035.0,00:34:34,2074.0,00:51:50,3110.0,01:09:04,4144.0,01:12:57,4377.0,01:26:43,5203.0,01:44:54,6294.0,02:03:25,7405.0,02:22:54,8574.0,02:31:33,9093.0
17,2007,Berlin,W,Leonor,Carneiro,8,2007-09-30,09:15:00,2007-09-30 07:15:00,00:18:13,1093.0,00:36:09,2169.0,00:53:54,3234.0,01:11:53,4313.0,01:15:53,4553.0,01:29:48,5388.0,01:47:37,6457.0,02:05:09,7509.0,02:23:21,8601.0,02:31:41,9101.0
18,2007,Berlin,W,Angeline,Flueckiger-Joly,9,2007-09-30,09:15:00,2007-09-30 07:15:00,00:18:07,1087.0,00:36:08,2168.0,00:54:01,3241.0,01:12:13,4333.0,01:16:19,4579.0,01:30:26,5426.0,01:49:08,6548.0,02:07:59,7679.0,02:27:29,8849.0,02:35:57,9357.0
19,2007,Berlin,W,Eva-Maria,Gradwohl,10,2007-09-30,09:15:00,2007-09-30 07:15:00,00:18:32,1112.0,00:37:00,2220.0,00:55:20,3320.0,01:13:49,4429.0,01:17:57,4677.0,01:32:17,5537.0,01:50:45,6645.0,02:09:20,7760.0,02:28:08,8888.0,02:36:21,9381.0
30,2008,Berlin,W,Irina,Mikitenko,1,2008-09-28,09:15:00,2008-09-28 07:15:00,00:16:40,1000.0,00:33:11,1991.0,00:49:47,2987.0,01:06:28,3988.0,01:10:05,4205.0,01:23:08,4988.0,01:39:36,5976.0,01:56:05,6965.0,02:12:22,7942.0,02:19:19,8359.0
31,2008,Berlin,W,Askale Tafa,Magarsa,2,2008-09-28,09:15:00,2008-09-28 07:15:00,00:16:34,994.0,00:32:49,1969.0,00:49:18,2958.0,01:05:56,3956.0,01:09:37,4177.0,01:22:50,4970.0,01:39:36,5976.0,01:56:24,6984.0,02:13:48,8028.0,02:21:31,8491.0
32,2008,Berlin,W,Helena,Kirop,3,2008-09-28,09:15:00,2008-09-28 07:15:00,00:16:34,994.0,00:32:49,1969.0,00:49:20,2960.0,01:05:57,3957.0,01:09:37,4177.0,01:22:51,4971.0,01:40:34,6034.0,01:58:43,7123.0,02:17:06,8226.0,02:25:01,8701.0
33,2008,Berlin,W,Rose,Cheruiyot,4,2008-09-28,09:15:00,2008-09-28 07:15:00,00:16:34,994.0,00:32:50,1970.0,00:49:20,2960.0,01:06:28,3988.0,01:10:06,4206.0,01:23:56,5036.0,01:41:56,6116.0,01:59:55,7195.0,02:18:22,8302.0,02:26:25,8785.0
34,2008,Berlin,W,Gulnara,Vigovskaya,5,2008-09-28,09:15:00,2008-09-28 07:15:00,00:17:35,1055.0,00:34:48,2088.0,00:52:29,3149.0,01:09:59,4199.0,01:13:48,4428.0,01:27:35,5255.0,01:45:17,6317.0,02:03:16,7396.0,02:21:53,8513.0,02:30:03,9003.0
35,2008,Berlin,W,Shuru,Deriba,6,2008-09-28,09:15:00,2008-09-28 07:15:00,00:16:34,994.0,00:32:50,1970.0,00:49:48,2988.0,01:07:17,4037.0,01:11:14,4274.0,01:25:44,5144.0,01:44:45,6285.0,02:03:35,7415.0,02:22:37,8557.0,02:31:20,9080.0
36,2008,Berlin,W,Edyta,Lewandoswka,7,2008-09-28,09:15:00,2008-09-28 07:15:00,00:17:41,1061.0,00:35:31,2131.0,00:53:15,3195.0,01:11:12,4272.0,01:15:11,4511.0,01:29:26,5366.0,01:47:45,6465.0,02:06:08,7568.0,02:24:43,8683.0,02:33:00,9180.0
37,2008,Berlin,W,Evelyne,Kimuria,8,2008-09-28,09:15:00,2008-09-28 07:15:00,00:17:34,1054.0,00:34:50,2090.0,00:52:54,3174.0,01:11:05,4265.0,01:15:06,4506.0,01:29:37,5377.0,01:48:26,6506.0,02:07:42,7662.0,02:27:21,8841.0,02:35:53,9353.0
38,2008,Berlin,W,Daniela,Cirlan,9,2008-09-28,09:15:00,2008-09-28 07:15:00,00:17:59,1079.0,00:35:58,2158.0,00:54:02,3242.0,01:12:17,4337.0,01:16:17,4577.0,01:30:40,5440.0,01:49:05,6545.0,02:07:38,7658.0,02:27:12,8832.0,02:36:18,9378.0
39,2008,Berlin,W,Zivile,Balciunaite,10,2008-09-28,09:15:00,2008-09-28 07:15:00,00:17:05,1025.0,00:34:47,2087.0,00:52:33,3153.0,01:10:54,4254.0,01:14:59,4499.0,01:29:36,5376.0,01:48:39,6519.0,02:08:02,7682.0,02:28:02,8882.0,02:36:40,9400.0
50,2009,Berlin,W,Atsede Habtamu,Besuye,1,2009-09-20,09:15:00,2009-09-20 07:15:00,00:16:56,1016.0,00:34:07,2047.0,00:51:31,3091.0,01:08:49,4129.0,01:12:29,4349.0,01:25:52,5152.0,01:42:50,6170.0,01:59:53,7193.0,02:17:19,8239.0,02:24:47,8687.0
51,2009,Berlin,W,Silvia,Skvortsova,2,2009-09-20,09:15:00,2009-09-20 07:15:00,00:17:26,1046.0,00:34:45,2085.0,00:52:01,3121.0,01:09:23,4163.0,01:13:12,4392.0,01:26:55,5215.0,01:44:08,6248.0,02:01:08,7268.0,02:18:39,8319.0,02:26:24,8784.0
52,2009,Berlin,W,Mamitu,Daska,3,2009-09-20,09:15:00,2009-09-20 07:15:00,00:16:57,1017.0,00:34:07,2047.0,00:51:34,3094.0,01:08:49,4129.0,01:12:30,4350.0,01:25:53,5153.0,01:42:51,6171.0,02:00:37,7237.0,02:19:01,8341.0,02:26:38,8798.0
53,2009,Berlin,W,Rosaria,Console,4,2009-09-20,09:15:00,2009-09-20 07:15:00,00:16:58,1018.0,00:34:07,2047.0,00:51:32,3092.0,01:09:02,4142.0,01:12:51,4371.0,01:26:22,5182.0,01:43:42,6222.0,02:01:12,7272.0,02:18:59,8339.0,02:26:45,8805.0
54,2009,Berlin,W,Genet,Getaneh,5,2009-09-20,09:15:00,2009-09-20 07:15:00,00:16:57,1017.0,00:34:07,2047.0,00:51:31,3091.0,01:08:49,4129.0,01:12:29,4349.0,01:25:52,5152.0,01:42:50,6170.0,01:59:53,7193.0,02:18:19,8299.0,02:27:09,8829.0
55,2009,Berlin,W,Leah,Malot,6,2009-09-20,09:15:00,2009-09-20 07:15:00,00:17:26,1046.0,00:34:48,2088.0,00:52:21,3141.0,01:10:03,4203.0,01:13:55,4435.0,01:27:38,5258.0,01:45:26,6326.0,02:03:24,7404.0,02:21:36,8496.0,02:29:17,8957.0
56,2009,Berlin,W,Tatiana,Aryasova,7,2009-09-20,09:15:00,2009-09-20 07:15:00,00:17:32,1052.0,00:34:58,2098.0,00:52:23,3143.0,01:10:04,4204.0,01:13:55,4435.0,01:27:51,5271.0,01:45:56,6356.0,02:04:13,7453.0,02:23:45,8625.0,02:32:17,9137.0
57,2009,Berlin,W,Jacqueline,Nyetipei,8,2009-09-20,09:15:00,2009-09-20 07:15:00,00:17:26,1046.0,00:34:48,2088.0,00:52:21,3141.0,01:10:04,4204.0,01:13:57,4437.0,01:28:12,5292.0,01:46:34,6394.0,02:05:18,7518.0,02:25:07,8707.0,02:34:16,9256.0
58,2009,Berlin,W,Maja,Neuenschwander,9,2009-09-20,09:15:00,2009-09-20 07:15:00,00:18:02,1082.0,00:36:15,2175.0,00:54:35,3275.0,01:13:05,4385.0,01:17:08,4628.0,01:31:38,5498.0,01:50:15,6615.0,02:08:42,7722.0,02:27:27,8847.0,02:35:44,9344.0
59,2009,Berlin,W,Hayley,Haining,10,2009-09-20,09:15:00,2009-09-20 07:15:00,00:17:26,1046.0,00:34:50,2090.0,00:52:28,3148.0,01:10:32,4232.0,01:14:31,4471.0,01:29:10,5350.0,01:48:27,6507.0,02:08:00,7680.0,02:27:57,8877.0,02:36:08,9368.0
70,2010,Berlin,W,Aberu,Kebede,1,2010-09-26,09:15:00,2010-09-26 07:15:00,00:18:03,1083.0,00:34:59,2099.0,00:51:43,3103.0,01:08:37,4117.0,01:12:20,4340.0,01:25:30,5130.0,01:42:12,6132.0,01:58:59,7139.0,02:16:01,8161.0,02:23:58,8638.0
71,2010,Berlin,W,Bezunesh,Bekele,2,2010-09-26,09:15:00,2010-09-26 07:15:00,00:18:03,1083.0,00:35:00,2100.0,00:51:44,3104.0,01:08:37,4117.0,01:12:21,4341.0,01:25:32,5132.0,01:42:44,6164.0,02:00:02,7202.0,02:17:14,8234.0,02:24:58,8698.0
72,2010,Berlin,W,Tomo,Morimoto,3,2010-09-26,09:15:00,2010-09-26 07:15:00,00:18:04,1084.0,00:35:11,2111.0,00:52:26,3146.0,01:09:34,4174.0,01:13:21,4401.0,01:26:46,5206.0,01:43:56,6236.0,02:01:03,7263.0,02:18:26,8306.0,02:26:10,8770.0
73,2010,Berlin,W,Sabrina,Mockenhaupt,4,2010-09-26,09:15:00,2010-09-26 07:15:00,00:18:05,1085.0,00:35:11,2111.0,00:52:26,3146.0,01:09:34,4174.0,01:13:21,4401.0,01:26:46,5206.0,01:43:56,6236.0,02:01:09,7269.0,02:18:30,8310.0,02:26:21,8781.0
74,2010,Berlin,W,Olena,Burkovska,5,2010-09-26,09:15:00,2010-09-26 07:15:00,00:18:10,1090.0,00:35:14,2114.0,00:52:26,3146.0,01:09:35,4175.0,01:13:21,4401.0,01:26:47,5207.0,01:43:56,6236.0,02:02:16,7336.0,02:20:38,8438.0,02:28:31,8911.0
75,2010,Berlin,W,Adriana,Pirtea,6,2010-09-26,09:15:00,2010-09-26 07:15:00,00:18:04,1084.0,00:35:16,2116.0,00:52:29,3149.0,01:10:10,4210.0,01:14:06,4446.0,01:28:12,5292.0,01:46:26,6386.0,02:04:04,7444.0,02:22:04,8524.0,02:30:15,9015.0
76,2010,Berlin,W,Adriana,Da Silva,7,2010-09-26,09:15:00,2010-09-26 07:15:00,00:18:22,1102.0,00:36:21,2181.0,00:54:30,3270.0,01:12:45,4365.0,01:16:45,4605.0,01:31:01,5461.0,01:49:16,6556.0,02:07:12,7632.0,02:24:50,8690.0,02:32:30,9150.0
77,2010,Berlin,W,Tanith,Maxwell,8,2010-09-26,09:15:00,2010-09-26 07:15:00,00:18:07,1087.0,00:35:31,2131.0,00:53:19,3199.0,01:11:27,4287.0,01:15:24,4524.0,01:29:31,5371.0,01:47:44,6464.0,02:05:52,7552.0,02:24:23,8663.0,02:32:33,9153.0
78,2010,Berlin,W,Lisa,Stublic,9,2010-09-26,09:15:00,2010-09-26 07:15:00,00:18:26,1106.0,00:37:02,2222.0,00:55:23,3323.0,01:13:49,4429.0,01:17:51,4671.0,01:32:08,5528.0,01:50:08,6608.0,02:08:05,7685.0,02:25:53,8753.0,02:33:42,9222.0
79,2010,Berlin,W,Agnieszka,Gortel,10,2010-09-26,09:15:00,2010-09-26 07:15:00,00:18:32,1112.0,00:36:42,2202.0,00:54:51,3291.0,01:13:11,4391.0,01:17:11,4631.0,01:31:37,5497.0,01:50:03,6603.0,02:08:07,7687.0,02:26:38,8798.0,02:34:47,9287.0
90,2011,Berlin,W,Florence,Kiplagat,1,2011-09-25,09:15:00,2011-09-25 07:15:00,00:16:37,997.0,00:33:16,1996.0,00:49:50,2990.0,01:06:32,3992.0,01:10:11,4211.0,01:23:15,4995.0,01:39:48,5988.0,01:56:10,6970.0,02:12:36,7956.0,02:19:44,8384.0
91,2011,Berlin,W,Irina,Mikitenko,2,2011-09-25,09:15:00,2011-09-25 07:15:00,00:17:01,1021.0,00:34:00,2040.0,00:50:58,3058.0,01:07:50,4070.0,01:11:34,4294.0,01:24:54,5094.0,01:41:31,6091.0,01:58:16,7096.0,02:15:05,8105.0,02:22:18,8538.0
92,2011,Berlin,W,Paula,Radcliffe,3,2011-09-25,09:15:00,2011-09-25 07:15:00,00:16:38,998.0,00:33:16,1996.0,00:49:59,2999.0,01:06:49,4009.0,01:10:30,4230.0,01:23:50,5030.0,01:41:07,6067.0,01:58:27,7107.0,02:16:10,8170.0,02:23:46,8626.0
93,2011,Berlin,W,Atsede,Habtamu,4,2011-09-25,09:15:00,2011-09-25 07:15:00,00:17:01,1021.0,00:34:00,2040.0,00:50:58,3058.0,01:07:50,4070.0,01:11:34,4294.0,01:24:54,5094.0,01:41:31,6091.0,01:58:16,7096.0,02:15:52,8152.0,02:24:25,8665.0
94,2011,Berlin,W,Tatyana,Petrova,5,2011-09-25,09:15:00,2011-09-25 07:15:00,00:17:03,1023.0,00:34:12,2052.0,00:51:29,3089.0,01:08:47,4127.0,01:12:31,4351.0,01:26:01,5161.0,01:43:22,6202.0,02:00:37,7237.0,02:17:45,8265.0,02:25:01,8701.0
95,2011,Berlin,W,Anna,Incerti,6,2011-09-25,09:15:00,2011-09-25 07:15:00,00:17:10,1030.0,00:34:30,2070.0,00:51:43,3103.0,01:08:54,4134.0,01:12:39,4359.0,01:26:12,5172.0,01:43:23,6203.0,02:00:37,7237.0,02:17:59,8279.0,02:25:32,8732.0
96,2011,Berlin,W,Rosaria,Console,7,2011-09-25,09:15:00,2011-09-25 07:15:00,00:17:11,1031.0,00:34:30,2070.0,00:51:44,3104.0,01:08:54,4134.0,01:12:39,4359.0,01:26:13,5173.0,01:43:23,6203.0,02:00:38,7238.0,02:18:19,8299.0,02:26:10,8770.0
97,2011,Berlin,W,Valeria,Straneo,8,2011-09-25,09:15:00,2011-09-25 07:15:00,00:17:16,1036.0,00:34:42,2082.0,00:52:01,3121.0,01:09:30,4170.0,01:13:16,4396.0,01:26:56,5216.0,01:44:12,6252.0,02:01:47,7307.0,02:19:16,8356.0,02:26:33,8793.0
98,2011,Berlin,W,Eri,Okubo,9,2011-09-25,09:15:00,2011-09-25 07:15:00,00:17:28,1048.0,00:34:42,2082.0,00:52:01,3121.0,01:09:30,4170.0,01:13:16,4396.0,01:26:59,5219.0,01:44:30,6270.0,02:02:21,7341.0,02:21:02,8462.0,02:28:49,8929.0
99,2011,Berlin,W,Miranda,Boonstra,10,2011-09-25,09:15:00,2011-09-25 07:15:00,00:17:52,1072.0,00:35:37,2137.0,00:53:20,3200.0,01:11:06,4266.0,01:14:58,4498.0,01:28:47,5327.0,01:46:17,6377.0,02:03:49,7429.0,02:21:41,8501.0,02:29:23,8963.0
110,2012,Berlin,W,Aberu,Kebede,1,2012-09-30,09:15:00,2012-09-30 07:15:00,00:17:14,1034.0,00:33:58,2038.0,00:50:32,3032.0,01:06:59,4019.0,01:10:33,4233.0,01:23:32,5012.0,01:40:01,6001.0,01:56:27,6987.0,02:12:54,7974.0,02:20:30,8430.0
111,2012,Berlin,W,Tirfi,Tsegaye,2,2012-09-30,09:15:00,2012-09-30 07:15:00,00:17:14,1034.0,00:33:58,2038.0,00:50:32,3032.0,01:06:59,4019.0,01:10:33,4233.0,01:23:32,5012.0,01:40:01,6001.0,01:56:31,6991.0,02:13:35,8015.0,02:21:19,8479.0
112,2012,Berlin,W,Olena,Shurhno,3,2012-09-30,09:15:00,2012-09-30 07:15:00,00:17:19,1039.0,00:34:11,2051.0,00:51:07,3067.0,01:08:12,4092.0,01:11:58,4318.0,01:25:16,5116.0,01:42:18,6138.0,01:59:14,7154.0,02:16:07,8167.0,02:23:32,8612.0
113,2012,Berlin,W,Flomena,Chepchirchir,4,2012-09-30,09:15:00,2012-09-30 07:15:00,00:17:15,1035.0,00:33:59,2039.0,00:50:33,3033.0,01:07:00,4020.0,01:10:33,4233.0,01:23:32,5012.0,01:40:16,6016.0,01:57:44,7064.0,02:16:18,8178.0,02:24:56,8696.0
114,2012,Berlin,W,Fate,Tola,5,2012-09-30,09:15:00,2012-09-30 07:15:00,00:17:20,1040.0,00:34:11,2051.0,00:51:07,3067.0,01:08:13,4093.0,01:11:58,4318.0,01:25:15,5115.0,01:42:07,6127.0,01:59:16,7156.0,02:17:20,8240.0,02:25:14,8714.0
115,2012,Berlin,W,Alevtina,Biktimirova,6,2012-09-30,09:15:00,2012-09-30 07:15:00,00:17:43,1063.0,00:35:00,2100.0,00:52:15,3135.0,01:09:47,4187.0,01:13:40,4420.0,01:27:34,5254.0,01:45:16,6316.0,02:02:52,7372.0,02:20:50,8450.0,02:28:45,8925.0
116,2012,Berlin,W,Caroline,Chepkwony,7,2012-09-30,09:15:00,2012-09-30 07:15:00,00:17:15,1035.0,00:33:59,2039.0,00:50:45,3045.0,01:08:13,4093.0,01:11:58,4318.0,01:26:12,5172.0,01:45:05,6305.0,02:03:39,7419.0,02:22:23,8543.0,02:30:34,9034.0
117,2012,Berlin,W,Anna,Hahner,8,2012-09-30,09:15:00,2012-09-30 07:15:00,00:17:48,1068.0,00:35:11,2111.0,00:52:44,3164.0,01:10:32,4232.0,01:14:28,4468.0,01:28:35,5315.0,01:46:24,6384.0,02:04:15,7455.0,02:22:23,8543.0,02:30:37,9037.0
118,2012,Berlin,W,Sonia,Samuels,9,2012-09-30,09:15:00,2012-09-30 07:15:00,00:17:48,1068.0,00:35:11,2111.0,00:52:46,3166.0,01:10:34,4234.0,01:14:28,4468.0,01:28:37,5317.0,01:46:26,6386.0,02:04:25,7465.0,02:22:51,8571.0,02:30:56,9056.0
119,2012,Berlin,W,Degefa,Biruktayit,10,2012-09-30,09:15:00,2012-09-30 07:15:00,00:17:20,1040.0,00:34:11,2051.0,00:51:06,3066.0,01:08:12,4092.0,01:11:58,4318.0,01:25:15,5115.0,01:42:32,6152.0,02:00:38,7238.0,02:21:51,8511.0,02:33:27,9207.0
130,2013,Berlin,W,Florence,Kiplagat,1,2013-09-29,09:15:00,2013-09-29 07:15:00,00:16:32,992.0,00:32:46,1966.0,00:49:25,2965.0,01:06:09,3969.0,01:09:48,4188.0,01:22:56,4976.0,01:39:38,5978.0,01:56:37,6997.0,02:13:47,8027.0,02:21:13,8473.0
131,2013,Berlin,W,Sharon,Cherop,2,2013-09-29,09:15:00,2013-09-29 07:15:00,00:16:34,994.0,00:32:51,1971.0,00:49:27,2967.0,01:06:10,3970.0,01:09:49,4189.0,01:22:57,4977.0,01:39:40,5980.0,01:56:39,6999.0,02:14:28,8068.0,02:22:28,8548.0
132,2013,Berlin,W,Irina,Mikitenko,3,2013-09-29,09:15:00,2013-09-29 07:15:00,00:17:26,1046.0,00:34:30,2070.0,00:51:31,3091.0,01:08:38,4118.0,01:12:24,4344.0,01:25:45,5145.0,01:42:46,6166.0,01:59:56,7196.0,02:17:27,8247.0,02:24:54,8694.0
133,2013,Berlin,W,Helah,Kiprop,4,2013-09-29,09:15:00,2013-09-29 07:15:00,00:17:26,1046.0,00:34:31,2071.0,00:51:31,3091.0,01:08:38,4118.0,01:12:24,4344.0,01:25:45,5145.0,01:42:46,6166.0,01:59:57,7197.0,02:18:46,8326.0,02:28:02,8882.0
134,2013,Berlin,W,Desiree,Davila,5,2013-09-29,09:15:00,2013-09-29 07:15:00,00:17:35,1055.0,00:35:14,2114.0,00:52:31,3151.0,01:09:55,4195.0,01:13:46,4426.0,01:27:24,5244.0,01:44:53,6293.0,02:02:48,7368.0,02:21:25,8485.0,02:29:15,8955.0
135,2013,Berlin,W,Vianey,de la Rosa,6,2013-09-29,09:15:00,2013-09-29 07:15:00,00:17:48,1068.0,00:35:27,2127.0,00:53:08,3188.0,01:11:06,4266.0,01:14:58,4498.0,01:29:01,5341.0,01:47:11,6431.0,02:05:33,7533.0,02:24:41,8681.0,02:32:35,9155.0
136,2013,Berlin,W,Eri,Hayakawa,7,2013-09-29,09:15:00,2013-09-29 07:15:00,00:17:26,1046.0,00:34:31,2071.0,00:51:50,3110.0,01:10:21,4221.0,01:14:28,4468.0,01:29:27,5367.0,01:49:31,6571.0,02:10:06,7806.0,02:29:52,8992.0,02:37:45,9465.0
137,2013,Berlin,W,Nina,Stï¿½cker,8,2013-09-29,09:15:00,2013-09-29 07:15:00,00:18:31,1111.0,00:37:20,2240.0,00:56:01,3361.0,01:14:52,4492.0,01:19:00,4740.0,01:33:49,5629.0,01:52:32,6752.0,02:11:12,7872.0,02:29:51,8991.0,02:37:46,9466.0
138,2013,Berlin,W,Lizzi,Lee,9,2013-09-29,09:15:00,2013-09-29 07:15:00,00:18:42,1122.0,00:37:35,2255.0,00:56:24,3384.0,01:15:17,4517.0,01:19:21,4761.0,01:33:49,5629.0,01:52:27,6747.0,02:11:11,7871.0,02:30:14,9014.0,02:38:09,9489.0
139,2013,Berlin,W,Maria Yolanda,Gutierrez,10,2013-09-29,09:15:00,2013-09-29 07:15:00,00:18:19,1099.0,00:36:31,2191.0,00:54:57,3297.0,01:13:47,4427.0,01:17:49,4669.0,01:32:51,5571.0,01:51:45,6705.0,02:10:55,7855.0,02:30:09,9009.0,02:38:18,9498.0
150,2014,Berlin,W,Tirfi,Tsegaye,1,2014-09-28,09:15:00,2014-09-28 07:15:00,00:16:35,995.0,00:33:11,1991.0,00:49:48,2988.0,01:06:17,3977.0,01:09:56,4196.0,01:22:58,4978.0,01:39:17,5957.0,01:55:37,6937.0,02:12:48,7968.0,02:20:18,8418.0
151,2014,Berlin,W,Feyse,Tadese,2,2014-09-28,09:15:00,2014-09-28 07:15:00,00:16:36,996.0,00:33:11,1991.0,00:49:49,2989.0,01:06:18,3978.0,01:09:56,4196.0,01:22:58,4978.0,01:39:18,5958.0,01:55:48,6948.0,02:13:11,7991.0,02:20:27,8427.0
152,2014,Berlin,W,Shalane,Flanagan,3,2014-09-28,09:15:00,2014-09-28 07:15:00,00:16:29,989.0,00:33:02,1982.0,00:49:26,2966.0,01:05:59,3959.0,01:09:38,4178.0,01:22:36,4956.0,01:39:15,5955.0,01:55:57,6957.0,02:13:15,7995.0,02:21:14,8474.0
153,2014,Berlin,W,Tadelech,Bekele,4,2014-09-28,09:15:00,2014-09-28 07:15:00,00:16:35,995.0,00:33:11,1991.0,00:49:49,2989.0,01:06:17,3977.0,01:09:56,4196.0,01:22:58,4978.0,01:39:17,5957.0,01:55:51,6951.0,02:14:04,8044.0,02:23:02,8582.0
154,2014,Berlin,W,Abedech,Afework,5,2014-09-28,09:15:00,2014-09-28 07:15:00,00:16:33,993.0,00:33:11,1991.0,00:49:49,2989.0,01:06:17,3977.0,01:09:57,4197.0,01:22:58,4978.0,01:40:10,6010.0,01:58:12,7092.0,02:16:42,8202.0,02:25:02,8702.0
155,2014,Berlin,W,Kayoko,Fukushi,6,2014-09-28,09:15:00,2014-09-28 07:15:00,00:16:30,990.0,00:33:03,1983.0,00:49:33,2973.0,01:06:19,3979.0,01:10:04,4204.0,01:24:00,5040.0,01:42:01,6121.0,02:00:16,7216.0,02:18:32,8312.0,02:26:25,8785.0
156,2014,Berlin,W,Anna,Hahner,7,2014-09-28,09:15:00,2014-09-28 07:15:00,00:17:32,1052.0,00:34:57,2097.0,00:52:15,3135.0,01:09:38,4178.0,01:13:26,4406.0,01:27:03,5223.0,01:44:27,6267.0,02:01:46,7306.0,02:19:08,8348.0,02:26:44,8804.0
157,2014,Berlin,W,Ines,Melchor,8,2014-09-28,09:15:00,2014-09-28 07:15:00,00:17:11,1031.0,00:34:15,2055.0,00:51:27,3087.0,01:08:48,4128.0,01:12:34,4354.0,01:26:04,5164.0,01:43:30,6210.0,02:01:07,7267.0,02:19:01,8341.0,02:26:48,8808.0
158,2014,Berlin,W,Rene,Kalmer,9,2014-09-28,09:15:00,2014-09-28 07:15:00,00:17:32,1052.0,00:35:00,2100.0,00:52:28,3148.0,01:09:53,4193.0,01:13:43,4423.0,01:27:23,5243.0,01:44:58,6298.0,02:02:47,7367.0,02:21:13,8473.0,02:29:27,8967.0
159,2014,Berlin,W,Adriana,Da Silva,10,2014-09-28,09:15:00,2014-09-28 07:15:00,00:17:56,1076.0,00:35:51,2151.0,00:53:51,3231.0,01:12:05,4325.0,01:16:06,4566.0,01:30:47,5447.0,01:49:57,6597.0,02:09:44,7784.0,02:29:39,8979.0,02:38:05,9485.0
170,2015,Berlin,W,Gladys,Cherono,1,2015-09-27,09:15:00,2015-09-27 07:15:00,00:16:48,1008.0,00:33:28,2008.0,00:50:05,3005.0,01:06:37,3997.0,01:10:15,4215.0,01:23:13,4993.0,01:39:40,5980.0,01:56:00,6960.0,02:12:28,7948.0,02:19:25,8365.0
171,2015,Berlin,W,Aberu,Kebede,2,2015-09-27,09:15:00,2015-09-27 07:15:00,00:16:48,1008.0,00:33:28,2008.0,00:50:04,3004.0,01:06:38,3998.0,01:10:15,4215.0,01:23:13,4993.0,01:39:40,5980.0,01:56:02,6962.0,02:13:16,7996.0,02:20:48,8448.0
172,2015,Berlin,W,Meseret,Hailu,3,2015-09-27,09:15:00,2015-09-27 07:15:00,00:16:48,1008.0,00:33:29,2009.0,00:50:05,3005.0,01:06:43,4003.0,01:10:23,4223.0,01:23:33,5013.0,01:41:19,6079.0,01:59:20,7160.0,02:17:15,8235.0,02:24:33,8673.0
173,2015,Berlin,W,Tadelech,Bekele,4,2015-09-27,09:15:00,2015-09-27 07:15:00,00:16:48,1008.0,00:33:29,2009.0,00:50:05,3005.0,01:06:43,4003.0,01:10:23,4223.0,01:23:32,5012.0,01:40:29,6029.0,01:57:50,7070.0,02:16:19,8179.0,02:25:01,8701.0

In [77]:
df_data_5.loc[(df_data_5.Geschlecht == 'W') & (df_data_5.Ort == 'Tokyo')].groupby(['Platz','Geschlecht','Ort', 'Jahr'], as_index=True).agg(
    {     
        'Platz':['count'] #,'max','min']
    }
)

                            Platz
                            count
Platz Geschlecht Ort   Jahr
1     W          Tokyo 2007     1
                       2008     1
                       2009     1
                       2010     1
                       2012     1
                       2013     1
                       2014     1
                       2015     1
                       2016     1
                       2017     1
                       2018     1
                       2019     1
2     W          Tokyo 2007     1
                       2008     1
                       2009     1
                       2010     1
                       2011     1
                       2012     1
                       2013     1
                       2014     1
                       2015     1
                       2016     1
                       2017     1
                       2018     1
                       2019     1
3     W          Tokyo 2007     1
                       2008     1
                       2009     1
                       2010     1
                       2011     1
                       2012     1
                       2013     1
                       2014     1
                       2015     1
                       2016     1
                       2017     1
                       2018     1
                       2019     1
4     W          Tokyo 2007     1
                       2008     1
                       2009     1
                       2010     1
                       2011     1
                       2012     1
                       2013     1
                       2014     1
                       2015     1
                       2016     1
                       2017     1
                       2018     1
                       2019     1
5     W          Tokyo 2007     1
                       2008     1
                       2009     1
                       2010     1
                       2011     1
                       2012     1
                       2013     1
                       2014     1
                       2015     1
                       2016     1
                       2017     1
                       2018     1
                       2019     1
6     W          Tokyo 2007     1
                       2008     1
                       2009     1
                       2010     1
                       2011     1
                       2012     1
                       2013     1
                       2014     1
                       2015     1
                       2016     1
                       2017     1
                       2018     1
                       2019     1
7     W          Tokyo 2007     1
                       2008     1
                       2009     1
                       2010     1
                       2011     1
                       2012     1
                       2013     1
                       2014     1
                       2015     1
                       2016     1
                       2017     1
                       2018     1
                       2019     1
8     W          Tokyo 2007     1
                       2008     1
                       2009     1
                       2010     1
                       2011     1
                       2012     1
                       2013     1
                       2014     1
                       2015     1
                       2016     1
                       2017     1
                       2018     1
                       2019     1
9     W          Tokyo 2007     1
                       2008     1
                       2009     1
                       2010     1
                       2011     1
                       2012     1
                       2013     1
                       2014     1
                       2015     1
                       2016     1
                       2017     1
                       2018     1
                       2019     1
10    W          Tokyo 2007     1
                       2008     1
                       2009     1
                       2010     1
                       2011     1
                       2012     1
                       2013     1
                       2014     1
                       2015     1
                       2016     1
                       2017     1
                       2018     1
                       2019     1
11    W          Tokyo 2011     1

In [78]:
# Anpassung der Platzierung - Berlin
j_prev = None
p_new = None
for i, row in df_data_5.loc[(df_data_5.Geschlecht == 'W') & (df_data_5.Ort == 'Tokyo') & (df_data_5.Jahr == '2011')].iterrows():
    j_act = row['Jahr']
    if(j_prev == j_act):
        p_new = p_new + 1
        df_data_5.loc[i,['Platz']] = p_new
        #print(p_new)
    else:
        p_new = 1
        df_data_5.loc[i,['Platz']] = p_new
        #print(p_new)
    j_prev = row['Jahr']

df_data_5.loc[(df_data_5.Geschlecht == 'W') & (df_data_5.Ort == 'Tokyo')]

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,Datum_Startzeit_UTC,T_KM_5,S_KM_5,T_KM_10,S_KM_10,T_KM_15,S_KM_15,T_KM_20,S_KM_20,T_KM_HM,S_KM_HM,T_KM_25,S_KM_25,T_KM_30,S_KM_30,T_KM_35,S_KM_35,T_KM_40,S_KM_40,T_KM_FN,S_KM_FN
970,2007,Tokyo,W,Hitomi,Niiya,1,2007-02-18,09:10:00,2007-02-18 00:10:00,0:18:41,1121.0,0:36:00,2160.0,0:53:10,3190.0,1:10:36,4236.0,1:14:23,4463.0,1:27:42,5262.0,1:45:01,6301.0,2:03:19,7399.0,2:22:26,8546.0,2:31:01,9061.0
971,2007,Tokyo,W,Mari,Tanigawa,2,2007-02-18,09:10:00,2007-02-18 00:10:00,0:19:27,1167.0,0:39:29,2369.0,0:59:41,3581.0,1:20:07,4807.0,1:24:38,5078.0,1:40:33,6033.0,2:00:12,7212.0,2:20:07,8407.0,2:40:33,9633.0,2:49:54,10194.0
972,2007,Tokyo,W,Hikaru,Tanaka,3,2007-02-18,09:10:00,2007-02-18 00:10:00,0:20:29,1229.0,0:40:09,2409.0,1:00:19,3619.0,1:20:12,4812.0,1:24:37,5077.0,1:40:22,6022.0,2:00:54,7254.0,2:21:16,8476.0,2:41:14,9674.0,2:50:02,10202.0
973,2007,Tokyo,W,Lennon,Maiana,4,2007-02-18,09:10:00,2007-02-18 00:10:00,0:19:25,1165.0,0:39:17,2357.0,0:59:06,3546.0,1:19:19,4759.0,1:23:53,5033.0,1:39:54,5994.0,2:00:32,7232.0,2:21:15,8475.0,2:42:30,9750.0,2:52:04,10324.0
974,2007,Tokyo,W,Yuko,Arimori,5,2007-02-18,09:10:00,2007-02-18 00:10:00,0:18:48,1128.0,0:38:10,2290.0,0:57:22,3442.0,1:17:00,4620.0,1:21:25,4885.0,1:38:14,5894.0,1:59:28,7168.0,2:21:15,8475.0,2:43:03,9783.0,2:52:45,10365.0
975,2007,Tokyo,W,Yumiko,Suda,6,2007-02-18,09:10:00,2007-02-18 00:10:00,0:19:20,1160.0,0:38:57,2337.0,0:58:41,3521.0,1:18:45,4725.0,1:23:12,4992.0,1:38:57,5937.0,1:59:42,7182.0,2:21:28,8488.0,2:45:13,9913.0,2:55:31,10531.0
976,2007,Tokyo,W,Michiyo,Abe,7,2007-02-18,09:10:00,2007-02-18 00:10:00,0:20:51,1251.0,0:41:16,2476.0,1:01:40,3700.0,1:22:18,4938.0,1:26:54,5214.0,1:43:08,6188.0,2:04:09,7449.0,2:25:16,8716.0,2:46:49,10009.0,2:56:14,10574.0
977,2007,Tokyo,W,Junko,Ishikawa,8,2007-02-18,09:10:00,2007-02-18 00:10:00,0:20:13,1213.0,0:40:32,2432.0,1:00:48,3648.0,1:21:32,4892.0,1:26:10,5170.0,1:42:51,6171.0,2:04:06,7446.0,2:25:26,8726.0,2:47:02,10022.0,2:56:20,10580.0
978,2007,Tokyo,W,Rimi,Honjo,9,2007-02-18,09:10:00,2007-02-18 00:10:00,0:24:39,1479.0,0:46:19,2779.0,1:07:05,4025.0,1:28:02,5282.0,1:32:45,5565.0,1:48:46,6526.0,2:09:30,7770.0,2:29:12,8952.0,2:48:39,10119.0,2:57:03,10623.0
979,2007,Tokyo,W,Makoto,Kudo,10,2007-02-18,09:10:00,2007-02-18 00:10:00,0:20:20,1220.0,0:40:45,2445.0,1:01:21,3681.0,1:22:19,4939.0,1:27:03,5223.0,1:43:46,6226.0,2:05:19,7519.0,2:26:39,8799.0,2:48:00,10080.0,2:57:21,10641.0
990,2008,Tokyo,W,Claudia,Dreher,1,2008-02-17,09:10:00,2008-02-17 00:10:00,0:17:45,1065.0,0:35:44,2144.0,0:54:02,3242.0,1:12:31,4351.0,1:16:37,4597.0,1:31:12,5472.0,1:49:58,6598.0,2:08:42,7722.0,2:27:26,8846.0,2:35:35,9335.0
991,2008,Tokyo,W,Risa,Mizutani,2,2008-02-17,09:10:00,2008-02-17 00:10:00,0:19:25,1165.0,0:38:51,2331.0,0:58:36,3516.0,1:18:22,4702.0,1:22:43,4963.0,1:38:14,5894.0,1:58:13,7093.0,2:18:25,8305.0,2:39:27,9567.0,2:48:59,10139.0
992,2008,Tokyo,W,Yoshimi,Kasezawa,3,2008-02-17,09:10:00,2008-02-17 00:10:00,0:21:57,1317.0,0:42:04,2524.0,1:02:31,3751.0,1:23:11,4991.0,1:27:45,5265.0,1:43:34,6214.0,2:03:56,7436.0,2:23:49,8629.0,2:43:06,9786.0,2:51:18,10278.0
993,2008,Tokyo,W,Mineko,Yamauchi,4,2008-02-17,09:10:00,2008-02-17 00:10:00,0:20:16,1216.0,0:40:27,2427.0,1:00:50,3650.0,1:21:13,4873.0,1:25:41,5141.0,1:41:23,6083.0,2:02:03,7323.0,2:22:25,8545.0,2:43:00,9780.0,2:52:02,10322.0
994,2008,Tokyo,W,Miyo,Tanabe,5,2008-02-17,09:10:00,2008-02-17 00:10:00,0:20:14,1214.0,0:40:49,2449.0,1:01:39,3699.0,1:22:27,4947.0,1:27:05,5225.0,1:42:58,6178.0,2:03:24,7404.0,2:23:41,8621.0,2:43:30,9810.0,2:52:07,10327.0
995,2008,Tokyo,W,Yuko,Ishida,6,2008-02-17,09:10:00,2008-02-17 00:10:00,0:21:13,1273.0,0:41:33,2493.0,1:01:53,3713.0,1:22:23,4943.0,1:26:54,5214.0,1:42:42,6162.0,2:03:04,7384.0,2:23:29,8609.0,2:44:08,9848.0,2:53:02,10382.0
996,2008,Tokyo,W,Kyoko,Tsukamoto,7,2008-02-17,09:10:00,2008-02-17 00:10:00,0:20:29,1229.0,0:40:48,2448.0,1:01:34,3694.0,1:22:12,4932.0,1:26:44,5204.0,1:43:31,6211.0,2:03:56,7436.0,2:24:12,8652.0,2:44:47,9887.0,2:53:53,10433.0
997,2008,Tokyo,W,Wan-Ling,Wu,8,2008-02-17,09:10:00,2008-02-17 00:10:00,0:20:55,1255.0,0:41:04,2464.0,1:01:17,3677.0,1:21:40,4900.0,1:26:16,5176.0,1:42:30,6150.0,2:03:42,7422.0,2:24:43,8683.0,2:45:37,9937.0,2:54:11,10451.0
998,2008,Tokyo,W,Keiko,Hiyama,9,2008-02-17,09:10:00,2008-02-17 00:10:00,0:20:16,1216.0,0:40:45,2445.0,1:01:26,3686.0,1:21:52,4912.0,1:26:29,5189.0,1:42:23,6143.0,2:02:57,7377.0,2:23:41,8621.0,2:44:52,9892.0,2:54:20,10460.0
999,2008,Tokyo,W,Hikaru,Tanaka,10,2008-02-17,09:10:00,2008-02-17 00:10:00,0:20:06,1206.0,0:40:45,2445.0,1:01:30,3690.0,1:21:43,4903.0,1:26:13,5173.0,1:41:51,6111.0,2:02:28,7348.0,2:24:20,8660.0,2:45:26,9926.0,2:54:45,10485.0
1010,2009,Tokyo,W,Mizuho,Nasukawa,1,2009-03-22,09:10:00,2009-03-22 00:10:00,0:17:01,1021.0,0:34:19,2059.0,0:51:34,3094.0,1:08:34,4114.0,1:12:19,4339.0,1:25:31,5131.0,1:42:33,6153.0,1:59:53,7193.0,2:17:39,8259.0,2:25:38,8738.0
1011,2009,Tokyo,W,Yukari,Saeki,2,2009-03-22,09:10:00,2009-03-22 00:10:00,0:17:02,1022.0,0:34:18,2058.0,0:51:33,3093.0,1:08:33,4113.0,1:12:17,4337.0,1:25:31,5131.0,1:42:38,6158.0,2:00:52,7252.0,2:20:11,8411.0,2:28:55,8935.0
1012,2009,Tokyo,W,Reiko,Tosa,3,2009-03-22,09:10:00,2009-03-22 00:10:00,0:17:03,1023.0,0:34:21,2061.0,0:51:56,3116.0,1:09:26,4166.0,1:13:19,4399.0,1:27:02,5222.0,1:44:55,6295.0,2:03:06,7386.0,2:21:23,8483.0,2:29:19,8959.0
1013,2009,Tokyo,W,Aleftina,Victimirois,4,2009-03-22,09:10:00,2009-03-22 00:10:00,0:17:02,1022.0,0:34:22,2062.0,0:51:56,3116.0,1:09:27,4167.0,1:13:19,4399.0,1:26:32,5192.0,1:43:52,6232.0,2:01:54,7314.0,2:20:54,8454.0,2:29:33,8973.0
1014,2009,Tokyo,W,Sitaie,Gemechu,5,2009-03-22,09:10:00,2009-03-22 00:10:00,0:17:01,1021.0,0:34:17,2057.0,0:51:33,3093.0,1:08:33,4113.0,1:12:17,4337.0,1:25:31,5131.0,1:42:36,6156.0,2:00:03,7203.0,2:20:19,8419.0,2:29:59,8999.0
1015,2009,Tokyo,W,Kiyoko,Shimahara,6,2009-03-22,09:10:00,2009-03-22 00:10:00,0:17:01,1021.0,0:34:19,2059.0,0:51:56,3116.0,1:09:42,4182.0,1:13:41,4421.0,1:27:46,5266.0,1:46:04,6364.0,2:04:43,7483.0,2:23:39,8619.0,2:31:57,9117.0
1016,2009,Tokyo,W,Hiromi,Ominami,7,2009-03-22,09:10:00,2009-03-22 00:10:00,0:17:01,1021.0,0:34:17,2057.0,0:51:34,3094.0,1:08:33,4113.0,1:12:19,4339.0,1:26:00,5160.0,1:44:11,6251.0,2:03:24,7404.0,2:23:31,8611.0,2:32:11,9131.0
1017,2009,Tokyo,W,Luminica,Tarpos,8,2009-03-22,09:10:00,2009-03-22 00:10:00,0:17:01,1021.0,0:34:19,2059.0,0:51:56,3116.0,1:09:27,4167.0,1:13:19,4399.0,1:27:02,5222.0,1:45:04,6304.0,2:04:19,7459.0,2:23:56,8636.0,2:32:22,9142.0
1018,2009,Tokyo,W,Pamela,Chepchumba,9,2009-03-22,09:10:00,2009-03-22 00:10:00,0:17:01,1021.0,0:34:20,2060.0,0:51:56,3116.0,1:09:27,4167.0,1:13:19,4399.0,1:27:03,5223.0,1:45:10,6310.0,2:04:19,7459.0,2:23:56,8636.0,2:32:40,9160.0
1019,2009,Tokyo,W,Harumi,Hiroyama,10,2009-03-22,09:10:00,2009-03-22 00:10:00,0:17:26,1046.0,0:34:55,2095.0,0:52:32,3152.0,1:10:05,4205.0,1:13:59,4439.0,1:28:00,5280.0,1:46:44,6404.0,2:06:29,7589.0,2:26:55,8815.0,2:35:39,9339.0
1030,2010,Tokyo,W,Aleftina,Victimirois,1,2010-02-28,09:10:00,2010-02-28 00:10:00,0:17:34,1054.0,0:34:56,2096.0,0:52:04,3124.0,1:09:30,4170.0,1:13:25,4405.0,1:27:24,5244.0,1:45:43,6343.0,2:04:46,7486.0,2:25:17,8717.0,2:34:39,9279.0
1031,2010,Tokyo,W,Robe,Guta,2,2010-02-28,09:10:00,2010-02-28 00:10:00,0:17:35,1055.0,0:34:58,2098.0,0:52:22,3142.0,1:10:03,4203.0,1:14:05,4445.0,1:28:43,5323.0,1:48:25,6505.0,2:07:41,7661.0,2:27:49,8869.0,2:36:29,9389.0
1032,2010,Tokyo,W,Nuta,Oral,3,2010-02-28,09:10:00,2010-02-28 00:10:00,0:17:37,1057.0,0:35:00,2100.0,0:52:31,3151.0,1:10:32,4232.0,1:14:40,4480.0,1:29:23,5363.0,1:48:25,6505.0,2:07:57,7677.0,2:28:05,8885.0,2:36:42,9402.0
1033,2010,Tokyo,W,Mami,Kono,4,2010-02-28,09:10:00,2010-02-28 00:10:00,0:18:19,1099.0,0:36:45,2205.0,0:55:11,3311.0,1:13:49,4429.0,1:17:55,4675.0,1:32:36,5556.0,1:51:37,6697.0,2:10:41,7841.0,2:30:17,9017.0,2:39:01,9541.0
1034,2010,Tokyo,W,Jin,Yang,5,2010-02-28,09:10:00,2010-02-28 00:10:00,0:18:10,1090.0,0:36:23,2183.0,0:54:43,3283.0,1:13:04,4384.0,1:17:12,4632.0,1:31:52,5512.0,1:50:16,6616.0,2:09:19,7759.0,2:30:49,9049.0,2:41:04,9664.0
1035,2010,Tokyo,W,Yumi,Sato,6,2010-02-28,09:10:00,2010-02-28 00:10:00,0:17:37,1057.0,0:35:05,2105.0,0:52:57,3177.0,1:11:28,4288.0,1:15:42,4542.0,1:30:49,5449.0,1:51:16,6676.0,2:12:27,7947.0,2:33:35,9215.0,2:43:01,9781.0
1036,2010,Tokyo,W,Hanado,Wakana,7,2010-02-28,09:10:00,2010-02-28 00:10:00,0:18:31,1111.0,0:36:54,2214.0,0:55:31,3331.0,1:14:46,4486.0,1:19:01,4741.0,1:34:15,5655.0,1:53:54,6834.0,2:14:03,8043.0,2:34:39,9279.0,2:44:03,9843.0
1037,2010,Tokyo,W,Julia,Mumbi,8,2010-02-28,09:10:00,2010-02-28 00:10:00,0:17:34,1054.0,0:34:58,2098.0,0:52:22,3142.0,1:10:03,4203.0,1:14:06,4446.0,1:28:44,5324.0,1:48:38,6518.0,2:10:29,7829.0,2:34:30,9270.0,2:45:11,9911.0
1038,2010,Tokyo,W,Yoshimi,Kasezawa,9,2010-02-28,09:10:00,2010-02-28 00:10:00,0:19:25,1165.0,0:39:08,2348.0,0:59:02,3542.0,1:19:01,4741.0,1:23:27,5007.0,1:39:12,5952.0,1:59:23,7163.0,2:19:10,8350.0,2:38:38,9518.0,2:47:03,10023.0
1039,2010,Tokyo,W,Noriko,Hirao,10,2010-02-28,09:10:00,2010-02-28 00:10:00,0:19:03,1143.0,0:37:52,2272.0,0:56:59,3419.0,1:16:45,4605.0,1:21:10,4870.0,1:36:56,5816.0,1:57:13,7033.0,2:17:40,8260.0,2:38:19,9499.0,2:47:32,10052.0
1050,2011,Tokyo,W,Noriko,Higuchi,1,2011-02-27,09:10:00,2011-02-27 00:10:00,0:17:25,1045.0,0:34:54,2094.0,0:52:18,3138.0,1:09:40,4180.0,1:13:30,4410.0,1:26:57,5217.0,1:44:38,6278.0,2:02:29,7349.0,2:20:56,8456.0,2:28:49,8929.0
1051,2011,Tokyo,W,Tatyana,Petrova,2,2011-02-27,09:10:00,2011-02-27 00:10:00,0:17:46,1066.0,0:35:28,2128.0,0:53:07,3187.0,1:10:44,4244.0,1:14:42,4482.0,1:28:31,5311.0,1:45:59,6359.0,2:03:36,7416.0,2:21:16,8476.0,2:28:56,8936.0
1052,2011,Tokyo,W,Yoko,Shibui,3,2011-02-27,09:10:00,2011-02-27 00:10:00,0:17:20,1040.0,0:34:45,2085.0,0:52:05,3125.0,1:09:25,4165.0,1:13:19,4399.0,1:26:53,5213.0,1:44:08,6248.0,2:01:45,7305.0,2:20:18,8418.0,2:29:03,8943.0
1053,2011,Tokyo,W,Katsumata,Misaki,4,2011-02-27,09:10:00,2011-02-27 00:10:00,0:17:20,1040.0,0:34:42,2082.0,0:51:51,3111.0,1:09:00,4140.0,1:12:50,4370.0,1:26:35,5195.0,1:44:43,6283.0,2:03:30,7410.0,2:22:46,8566.0,2:31:10,9070.0
1054,2011,Tokyo,W,Sumiko,Suzuki,5,2011-02-27,09:10:00,2011-02-27 00:10:00,0:17:24,1044.0,0:34:55,2095.0,0:52:32,3152.0,1:10:28,4228.0,1:14:28,4468.0,1:28:36,5316.0,1:46:52,6412.0,2:05:17,7517.0,2:23:51,8631.0,2:32:02,9122.0
1055,2011,Tokyo,W,Yamazaki,Rina,6,2011-02-27,09:10:00,2011-02-27 00:10:00,0:17:53,1073.0,0:35:59,2159.0,0:54:00,3240.0,1:12:00,4320.0,1:15:54,4554.0,1:29:49,5389.0,1:47:32,6452.0,2:05:28,7528.0,2:24:30,8670.0,2:32:51,9171.0
1056,2011,Tokyo,W,Shoko,Miyazaki,7,2011-02-27,09:10:00,2011-02-27 00:10:00,0:17:28,1048.0,0:34:57,2097.0,0:52:42,3162.0,1:10:42,4242.0,1:14:41,4481.0,1:28:45,5325.0,1:47:13,6433.0,2:05:49,7549.0,2:24:56,8696.0,2:33:10,9190.0
1057,2011,Tokyo,W,Hiromi,Hirata,8,2011-02-27,09:10:00,2011-02-27 00:10:00,0:17:29,1049.0,0:34:57,2097.0,0:52:46,3166.0,1:10:48,4248.0,1:14:49,4489.0,1:29:06,5346.0,1:47:38,6458.0,2:06:24,7584.0,2:25:18,8718.0,2:33:14,9194.0
1058,2011,Tokyo,W,Olena,Brukovska,9,2011-02-27,09:10:00,2011-02-27 00:10:00,0:17:29,1049.0,0:34:58,2098.0,0:52:31,3151.0,1:10:22,4222.0,1:14:18,4458.0,1:28:33,5313.0,1:47:02,6422.0,2:05:54,7554.0,2:25:16,8716.0,2:33:30,9210.0
1059,2011,Tokyo,W,Miki,Ohira,10,2011-02-27,09:10:00,2011-02-27 00:10:00,0:17:29,1049.0,0:34:58,2098.0,0:52:47,3167.0,1:10:48,4248.0,1:14:49,4489.0,1:29:05,5345.0,1:47:38,6458.0,2:06:24,7584.0,2:25:59,8759.0,2:34:46,9286.0
1070,2012,Tokyo,W,Azede,Habutam,1,2012-02-26,09:10:00,2012-02-26 00:10:00,0:17:00,1020.0,0:34:33,2073.0,0:52:00,3120.0,1:09:32,4172.0,1:13:25,4405.0,1:26:52,5212.0,1:44:02,6242.0,2:01:12,7272.0,2:18:02,8282.0,2:25:28,8728.0
1071,2012,Tokyo,W,Yesi,Iseas,2,2012-02-26,09:10:00,2012-02-26 00:10:00,0:17:00,1020.0,0:34:34,2074.0,0:52:01,3121.0,1:09:32,4172.0,1:13:25,4405.0,1:26:53,5213.0,1:44:02,6242.0,2:01:13,7273.0,2:18:23,8303.0,2:26:00,8760.0
1072,2012,Tokyo,W,Helena,Kirop,3,2012-02-26,09:10:00,2012-02-26 00:10:00,0:16:59,1019.0,0:34:33,2073.0,0:52:00,3120.0,1:09:33,4173.0,1:13:25,4405.0,1:26:53,5213.0,1:44:02,6242.0,2:01:13,7273.0,2:18:24,8304.0,2:26:02,8762.0
1073,2012,Tokyo,W,Eri,Okubo,4,2012-02-26,09:10:00,2012-02-26 00:10:00,0:16:54,1014.0,0:33:40,2020.0,0:50:40,3040.0,1:07:50,4070.0,1:11:40,4300.0,1:25:19,5119.0,1:42:48,6168.0,2:00:19,7219.0,2:18:10,8290.0,2:26:08,8768.0
1074,2012,Tokyo,W,Tatiana,Alhipova,5,2012-02-26,09:10:00,2012-02-26 00:10:00,0:17:32,1052.0,0:34:52,2092.0,0:52:16,3136.0,1:09:42,4182.0,1:13:32,4412.0,1:27:05,5225.0,1:44:19,6259.0,2:01:47,7307.0,2:19:10,8350.0,2:26:46,8806.0
1075,2012,Tokyo,W,Richard,Dura,6,2012-02-26,09:10:00,2012-02-26 00:10:00,0:17:00,1020.0,0:34:33,2073.0,0:52:01,3121.0,1:09:33,4173.0,1:13:25,4405.0,1:26:53,5213.0,1:44:02,6242.0,2:01:43,7303.0,2:20:12,8412.0,2:28:22,8902.0
1076,2012,Tokyo,W,Jerusalem,bear,7,2012-02-26,09:10:00,2012-02-26 00:10:00,0:17:00,1020.0,0:34:33,2073.0,0:52:01,3121.0,1:09:33,4173.0,1:13:25,4405.0,1:26:53,5213.0,1:44:02,6242.0,2:01:47,7307.0,2:20:49,8449.0,2:28:36,8916.0
1077,2012,Tokyo,W,Katerina,Stezenko,8,2012-02-26,09:10:00,2012-02-26 00:10:00,0:17:32,1052.0,0:34:52,2092.0,0:52:14,3134.0,1:09:41,4181.0,1:13:31,4411.0,1:27:05,5225.0,1:44:32,6272.0,2:02:23,7343.0,2:20:48,8448.0,2:28:38,8918.0
1078,2012,Tokyo,W,Adriana,da Silva,9,2012-02-26,09:10:00,2012-02-26 00:10:00,0:17:37,1057.0,0:35:39,2139.0,0:53:31,3211.0,1:11:16,4276.0,1:15:06,4506.0,1:28:50,5330.0,1:46:34,6394.0,2:04:16,7456.0,2:21:49,8509.0,2:29:17,8957.0
1079,2012,Tokyo,W,Sumiko,Suzuki,10,2012-02-26,09:10:00,2012-02-26 00:10:00,0:17:27,1047.0,0:34:52,2092.0,0:52:15,3135.0,1:09:41,4181.0,1:13:28,4408.0,1:27:08,5228.0,1:44:46,6286.0,2:02:52,7372.0,2:21:17,8477.0,2:29:25,8965.0
1090,2013,Tokyo,W,Abel,Kebede,1,2013-02-24,09:10:00,2013-02-24 00:10:00,0:16:50,1010.0,0:33:31,2011.0,0:50:21,3021.0,1:07:52,4072.0,1:11:50,4310.0,1:25:21,5121.0,1:42:39,6159.0,2:00:21,7221.0,2:17:51,8271.0,2:25:34,8734.0
1091,2013,Tokyo,W,Yesi,Iseas,2,2013-02-24,09:10:00,2013-02-24 00:10:00,0:17:00,1020.0,0:34:09,2049.0,0:51:14,3074.0,1:08:20,4100.0,1:12:06,4326.0,1:25:21,5121.0,1:42:39,6159.0,2:00:21,7221.0,2:18:04,8284.0,2:26:01,8761.0
1092,2013,Tokyo,W,Irina,Mikitenko,3,2013-02-24,09:10:00,2013-02-24 00:10:00,0:17:16,1036.0,0:34:16,2056.0,0:51:26,3086.0,1:09:04,4144.0,1:13:00,4380.0,1:26:48,5208.0,1:44:39,6279.0,2:02:03,7323.0,2:19:24,8364.0,2:26:41,8801.0
1093,2013,Tokyo,W,Albina,Mayorova,4,2013-02-24,09:10:00,2013-02-24 00:10:00,0:17:19,1039.0,0:34:37,2077.0,0:51:54,3114.0,1:09:33,4173.0,1:13:26,4406.0,1:27:13,5233.0,1:44:53,6293.0,2:02:03,7323.0,2:19:16,8356.0,2:26:51,8811.0
1094,2013,Tokyo,W,Yoshimi,Ozaki,5,2013-02-24,09:10:00,2013-02-24 00:10:00,0:17:02,1022.0,0:34:08,2048.0,0:51:19,3079.0,1:09:04,4144.0,1:13:01,4381.0,1:26:50,5210.0,1:44:53,6293.0,2:02:37,7357.0,2:20:37,8437.0,2:28:30,8910.0
1095,2013,Tokyo,W,Heralia,Joannes,6,2013-02-24,09:10:00,2013-02-24 00:10:00,0:17:03,1023.0,0:34:09,2049.0,0:51:14,3074.0,1:08:54,4134.0,1:12:53,4373.0,1:26:48,5208.0,1:44:55,6295.0,2:02:59,7379.0,2:21:20,8480.0,2:29:20,8960.0
1096,2013,Tokyo,W,Mika,Yoshikawa,7,2013-02-24,09:10:00,2013-02-24 00:10:00,0:17:23,1043.0,0:35:04,2104.0,0:52:36,3156.0,1:10:39,4239.0,1:14:41,4481.0,1:28:52,5332.0,1:47:07,6427.0,2:05:08,7508.0,2:22:51,8571.0,2:30:20,9020.0
1097,2013,Tokyo,W,Nastasia,Staraboitawa,8,2013-02-24,09:10:00,2013-02-24 00:10:00,0:17:33,1053.0,0:35:04,2104.0,0:52:35,3155.0,1:10:39,4239.0,1:14:36,4476.0,1:28:36,5316.0,1:47:01,6421.0,2:05:09,7509.0,2:23:06,8586.0,2:30:45,9045.0
1098,2013,Tokyo,W,Azusa,Nojiri,9,2013-02-24,09:10:00,2013-02-24 00:10:00,0:16:48,1008.0,0:33:31,2011.0,0:50:21,3021.0,1:08:08,4088.0,1:12:06,4326.0,1:26:14,5174.0,1:44:47,6287.0,2:03:48,7428.0,2:22:51,8571.0,2:31:15,9075.0
1099,2013,Tokyo,W,Hiroko,Yoshitomi,10,2013-02-24,09:10:00,2013-02-24 00:10:00,0:17:48,1068.0,0:35:25,2125.0,0:53:06,3186.0,1:11:10,4270.0,1:15:10,4510.0,1:28:52,5332.0,1:47:01,6421.0,2:05:10,7510.0,2:23:19,8599.0,2:31:28,9088.0
1110,2014,Tokyo,W,Tilfi,Tsegae,1,2014-02-23,09:10:00,2014-02-23 00:10:00,0:17:20,1040.0,0:34:18,2058.0,0:51:08,3068.0,1:08:05,4085.0,1:11:48,4308.0,1:24:45,5085.0,1:41:27,6087.0,1:58:30,7110.0,2:15:02,8102.0,2:22:23,8543.0
1111,2014,Tokyo,W,Berhane,Divaba,2,2014-02-23,09:10:00,2014-02-23 00:10:00,0:17:20,1040.0,0:34:18,2058.0,0:51:08,3068.0,1:08:06,4086.0,1:11:50,4310.0,1:24:45,5085.0,1:41:27,6087.0,1:58:30,7110.0,2:15:02,8102.0,2:22:30,8550.0
1112,2014,Tokyo,W,Lucy,Kaboo,3,2014-02-23,09:10:00,2014-02-23 00:10:00,0:17:20,1040.0,0:34:19,2059.0,0:51:09,3069.0,1:08:06,4086.0,1:11:50,4310.0,1:24:46,5086.0,1:41:28,6088.0,1:58:33,7113.0,2:16:18,8178.0,2:24:16,8656.0
1113,2014,Tokyo,W,Caroline,Rotichi,4,2014-02-23,09:10:00,2014-02-23 00:10:00,0:17:21,1041.0,0:34:19,2059.0,0:51:08,3068.0,1:08:06,4086.0,1:11:49,4309.0,1:24:46,5086.0,1:41:28,6088.0,1:58:30,7110.0,2:16:05,8165.0,2:24:35,8675.0
1114,2014,Tokyo,W,Janet,Rono,5,2014-02-23,09:10:00,2014-02-23 00:10:00,0:17:20,1040.0,0:34:18,2058.0,0:51:08,3068.0,1:08:05,4085.0,1:11:50,4310.0,1:24:45,5085.0,1:42:18,6138.0,2:00:04,7204.0,2:18:12,8292.0,2:26:03,8763.0
1115,2014,Tokyo,W,Albina,Mayorova,6,2014-02-23,09:10:00,2014-02-23 00:10:00,0:17:24,1044.0,0:34:48,2088.0,0:52:10,3130.0,1:09:43,4183.0,1:13:35,4415.0,1:27:16,5236.0,1:44:51,6291.0,2:02:35,7355.0,2:20:48,8448.0,2:28:18,8898.0
1116,2014,Tokyo,W,Mai,Ito,7,2014-02-23,09:10:00,2014-02-23 00:10:00,0:17:19,1039.0,0:34:18,2058.0,0:51:07,3067.0,1:08:05,4085.0,1:11:49,4309.0,1:25:18,5118.0,1:43:22,6202.0,2:01:42,7302.0,2:20:31,8431.0,2:28:36,8916.0
1117,2014,Tokyo,W,Shintaku,Rika,8,2014-02-23,09:10:00,2014-02-23 00:10:00,0:17:19,1039.0,0:34:18,2058.0,0:51:07,3067.0,1:08:10,4090.0,1:12:05,4325.0,1:26:26,5186.0,1:45:18,6318.0,2:04:11,7451.0,2:23:05,8585.0,2:31:15,9075.0
1118,2014,Tokyo,W,Uetani,Aimi,9,2014-02-23,09:10:00,2014-02-23 00:10:00,0:17:33,1053.0,0:35:17,2117.0,0:52:58,3178.0,1:10:53,4253.0,1:14:54,4494.0,1:28:55,5335.0,1:47:20,6440.0,2:05:21,7521.0,2:23:38,8618.0,2:31:34,9094.0
1119,2014,Tokyo,W,Hiroko,Yoshitomi,10,2014-02-23,09:10:00,2014-02-23 00:10:00,0:17:34,1054.0,0:35:17,2117.0,0:52:57,3177.0,1:10:52,4252.0,1:14:53,4493.0,1:28:55,5335.0,1:47:20,6440.0,2:05:33,7533.0,2:24:13,8653.0,2:32:38,9158.0
1130,2015,Tokyo,W,BIRHANE,DIBABA,1,2015-02-22,09:10:00,2015-02-22 00:10:00,0:16:53,1013.0,0:33:44,2024.0,0:50:48,3048.0,1:07:59,4079.0,1:11:41,4301.0,1:25:09,5109.0,1:42:08,6128.0,1:58:43,7123.0,2:15:24,8124.0,2:23:15,8595.0
1131,2015,Tokyo,W,HELAH,KIPROP,2,2015-02-22,09:10:00,2015-02-22 00:10:00,0:16:53,1013.0,0:33:44,2024.0,0:50:50,3050.0,1:07:59,4079.0,1:11:42,4302.0,1:25:08,5108.0,1:42:09,6129.0,1:58:47,7127.0,2:16:01,8161.0,2:24:03,8643.0
1132,2015,Tokyo,W,TIKI,GELANA,3,2015-02-22,09:10:00,2015-02-22 00:10:00,0:16:52,1012.0,0:33:44,2024.0,0:50:49,3049.0,1:07:59,4079.0,1:11:42,4302.0,1:25:08,5108.0,1:42:10,6130.0,1:59:17,7157.0,2:16:39,8199.0,2:24:26,8666.0
1133,2015,Tokyo,W,KAPTICH,SELLY CHEPYEGO,4,2015-02-22,09:10:00,2015-02-22 00:10:00,0:16:53,1013.0,0:33:44,2024.0,0:50:49,3049.0,1:07:59,4079.0,1:11:42,4302.0,1:25:08,5108.0,1:42:08,6128.0,1:59:06,7146.0,2:17:59,8279.0,2:26:43,8803.0
1134,2015,Tokyo,W,FLOMENA,CHEYECH DANIEL,5,2015-02-22,09:10:00,2015-02-22 00:10:00,0:16:53,1013.0,0:33:45,2025.0,0:50:49,3049.0,1:07:58,4078.0,1:11:42,4302.0,1:25:08,5108.0,1:42:09,6129.0,1:59:23,7163.0,2:18:15,8295.0,2:26:54,8814.0
1135,2015,Tokyo,W,YESHI,ESAYIAS,6,2015-02-22,09:10:00,2015-02-22 00:10:00,0:16:56,1016.0,0:33:45,2025.0,0:51:01,3061.0,1:08:39,4119.0,1:12:34,4354.0,1:26:37,5197.0,1:44:42,6282.0,2:03:02,7382.0,2:21:51,8511.0,2:30:15,9015.0
1136,2015,Tokyo,W,MADOKA,OGI,7,2015-02-22,09:10:00,2015-02-22 00:10:00,0:17:13,1033.0,0:34:36,2076.0,0:52:06,3126.0,1:09:41,4181.0,1:13:33,4413.0,1:27:24,5244.0,1:45:21,6321.0,2:03:37,7417.0,2:22:11,8531.0,2:30:25,9025.0
1137,2015,Tokyo,W,ALBINA,MAYOROVA,8,2015-02-22,09:10:00,2015-02-22 00:10:00,0:17:44,1064.0,0:35:42,2142.0,0:53:41,3221.0,1:11:47,4307.0,1:15:48,4548.0,1:30:01,5401.0,1:48:50,6530.0,2:07:31,7651.0,2:26:22,8782.0,2:34:21,9261.0

In [79]:
# Prüfen ob Zeiten nicht erfasst wurden bzw. auf 0.0 stehen
df_data_5.loc[df_data_5.isin([0.0]).any(axis=1)]

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,Datum_Startzeit_UTC,T_KM_5,S_KM_5,T_KM_10,S_KM_10,T_KM_15,S_KM_15,T_KM_20,S_KM_20,T_KM_HM,S_KM_HM,T_KM_25,S_KM_25,T_KM_30,S_KM_30,T_KM_35,S_KM_35,T_KM_40,S_KM_40,T_KM_FN,S_KM_FN
203,2017,Berlin,M,Felix,Kandie,4,2017-09-24,09:15:00,2017-09-24 07:15:00,00:00:00,0.0,00:29:47,1787.0,00:44:40,2680.0,00:59:40,3580.0,01:02:57,3777.0,01:14:35,4475.0,01:29:37,5377.0,01:44:21,6261.0,01:59:38,7178.0,02:06:13,7573.0
211,2017,Berlin,W,Ruti,Aga,2,2017-09-24,09:15:00,2017-09-24 07:15:00,00:16:41,1001.0,00:33:12,1992.0,00:49:33,2973.0,01:06:05,3965.0,01:09:40,4180.0,01:22:26,4946.0,01:38:58,5938.0,01:55:42,6942.0,00:00:00,0.0,02:20:41,8441.0
220,2018,Berlin,M,Eliud,Kipchoge,1,2018-09-16,09:15:00,2018-09-16 07:15:00,00:14:24,864.0,00:29:01,1741.0,00:43:38,2618.0,00:57:56,3476.0,01:01:06,3666.0,01:12:24,4344.0,01:26:45,5205.0,00:00:00,0.0,01:55:32,6932.0,02:01:39,7299.0
221,2018,Berlin,M,Amos,Kipruto,2,2018-09-16,09:15:00,2018-09-16 07:15:00,00:14:34,874.0,00:29:16,1756.0,00:44:07,2647.0,00:58:51,3531.0,01:02:07,3727.0,01:13:55,4435.0,01:28:41,5321.0,00:00:00,0.0,01:59:14,7154.0,02:06:23,7583.0
222,2018,Berlin,M,Wilson,Kipsang,3,2018-09-16,09:15:00,2018-09-16 07:15:00,00:14:33,873.0,00:29:12,1752.0,00:44:00,2640.0,00:58:51,3531.0,01:02:07,3727.0,01:13:56,4436.0,01:29:20,5360.0,00:00:00,0.0,02:00:21,7221.0,02:06:48,7608.0
223,2018,Berlin,M,Shogo,Nakamura,4,2018-09-16,09:15:00,2018-09-16 07:15:00,00:15:04,904.0,00:30:09,1809.0,00:45:07,2707.0,01:00:04,3604.0,01:03:21,3801.0,01:15:05,4505.0,01:30:23,5423.0,00:00:00,0.0,02:01:30,7290.0,02:08:16,7696.0
224,2018,Berlin,M,Zersenay,Tadese,5,2018-09-16,09:15:00,2018-09-16 07:15:00,00:15:19,919.0,00:30:26,1826.0,00:45:24,2724.0,01:00:27,3627.0,01:03:44,3824.0,01:15:47,4547.0,01:31:10,5470.0,00:00:00,0.0,02:02:04,7324.0,02:08:46,7726.0
225,2018,Berlin,M,Yuki,Sato,6,2018-09-16,09:15:00,2018-09-16 07:15:00,00:15:20,920.0,00:30:26,1826.0,00:45:52,2752.0,01:01:19,3679.0,01:04:42,3882.0,01:17:01,4621.0,01:32:37,5557.0,00:00:00,0.0,02:02:41,7361.0,02:09:18,7758.0
226,2018,Berlin,M,Okubay,Tsegay,7,2018-09-16,09:15:00,2018-09-16 07:15:00,00:15:20,920.0,00:30:27,1827.0,00:45:55,2755.0,01:01:19,3679.0,01:04:43,3883.0,01:17:00,4620.0,01:32:38,5558.0,00:00:00,0.0,02:02:59,7379.0,02:09:56,7796.0
227,2018,Berlin,M,Daisuke,Uekado,8,2018-09-16,09:15:00,2018-09-16 07:15:00,00:15:19,919.0,00:30:26,1826.0,00:45:52,2752.0,01:01:19,3679.0,01:04:42,3882.0,01:17:01,4621.0,01:32:38,5558.0,00:00:00,0.0,02:04:12,7452.0,02:11:07,7867.0
228,2018,Berlin,M,Wily,Canchanya,9,2018-09-16,09:15:00,2018-09-16 07:15:00,00:15:51,951.0,00:31:15,1875.0,00:46:42,2802.0,01:02:07,3727.0,01:05:29,3929.0,01:17:46,4666.0,01:33:30,5610.0,00:00:00,0.0,02:05:34,7534.0,02:12:57,7977.0
229,2018,Berlin,M,Bart,Nunen,10,2018-09-16,09:15:00,2018-09-16 07:15:00,00:16:01,961.0,00:31:51,1911.0,00:47:50,2870.0,01:03:42,3822.0,01:07:07,4027.0,01:19:52,4792.0,01:35:36,5736.0,00:00:00,0.0,02:06:24,7584.0,02:13:09,7989.0
230,2018,Berlin,W,Gladys,Cherono,1,2018-09-16,09:15:00,2018-09-16 07:15:00,00:16:27,987.0,00:32:44,1964.0,00:49:10,2950.0,01:05:36,3936.0,01:09:10,4150.0,01:21:52,4912.0,01:38:04,5884.0,00:00:00,0.0,02:10:36,7836.0,02:18:11,8291.0
231,2018,Berlin,W,Ruti,Aga,2,2018-09-16,09:15:00,2018-09-16 07:15:00,00:16:27,987.0,00:32:45,1965.0,00:49:09,2949.0,01:05:35,3935.0,01:09:10,4150.0,01:21:54,4914.0,01:38:04,5884.0,00:00:00,0.0,02:11:15,7875.0,02:18:34,8314.0
378,2012,Chicago,W,Laura,Portis,9,2012-10-07,07:30:00,2012-10-07 12:30:00,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,02:37:18,9438.0
728,2007,NewYork,M,Aleksandr,Kuzin,9,2007-11-04,09:00:00,2007-11-04 14:00:00,0:15:49,949.0,0:31:30,1890.0,0:46:46,2806.0,1:02:19,3739.0,1:05:47,3947.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,2:14:01,8041.0
729,2007,NewYork,M,William,Kipsang,10,2007-11-04,09:00:00,2007-11-04 14:00:00,0:15:48,948.0,0:31:27,1887.0,0:46:13,2773.0,1:02:17,3737.0,1:05:45,3945.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,2:15:32,8132.0
782,2010,NewYork,M,Moses,Kigen Kipkosgei,3,2010-11-07,08:30:00,2010-11-07 13:30:00,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,1:47:19,6439.0,00:00:00,0.0,2:10:39,7839.0

In [80]:
df_data_6 = df_data_5.copy()

In [81]:
# Spalte hinzufügen die Datensätze mit ungültigen Zwischenzeiten markiert.
df_data_6['ZZ_INVALID'] = 'F'

# Die enstprechenden Datensätze mit ZZ_INVALID ungültig markieren
df_data_6['ZZ_INVALID'].mask((df_data_6.isin([0.0]).any(axis=1)),'T',inplace=True)

In [82]:
df_data_6.loc[df_data_6.isin([0.0]).any(axis=1)]

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,Datum_Startzeit_UTC,T_KM_5,S_KM_5,T_KM_10,S_KM_10,T_KM_15,S_KM_15,T_KM_20,S_KM_20,T_KM_HM,S_KM_HM,T_KM_25,S_KM_25,T_KM_30,S_KM_30,T_KM_35,S_KM_35,T_KM_40,S_KM_40,T_KM_FN,S_KM_FN,ZZ_INVALID
203,2017,Berlin,M,Felix,Kandie,4,2017-09-24,09:15:00,2017-09-24 07:15:00,00:00:00,0.0,00:29:47,1787.0,00:44:40,2680.0,00:59:40,3580.0,01:02:57,3777.0,01:14:35,4475.0,01:29:37,5377.0,01:44:21,6261.0,01:59:38,7178.0,02:06:13,7573.0,T
211,2017,Berlin,W,Ruti,Aga,2,2017-09-24,09:15:00,2017-09-24 07:15:00,00:16:41,1001.0,00:33:12,1992.0,00:49:33,2973.0,01:06:05,3965.0,01:09:40,4180.0,01:22:26,4946.0,01:38:58,5938.0,01:55:42,6942.0,00:00:00,0.0,02:20:41,8441.0,T
220,2018,Berlin,M,Eliud,Kipchoge,1,2018-09-16,09:15:00,2018-09-16 07:15:00,00:14:24,864.0,00:29:01,1741.0,00:43:38,2618.0,00:57:56,3476.0,01:01:06,3666.0,01:12:24,4344.0,01:26:45,5205.0,00:00:00,0.0,01:55:32,6932.0,02:01:39,7299.0,T
221,2018,Berlin,M,Amos,Kipruto,2,2018-09-16,09:15:00,2018-09-16 07:15:00,00:14:34,874.0,00:29:16,1756.0,00:44:07,2647.0,00:58:51,3531.0,01:02:07,3727.0,01:13:55,4435.0,01:28:41,5321.0,00:00:00,0.0,01:59:14,7154.0,02:06:23,7583.0,T
222,2018,Berlin,M,Wilson,Kipsang,3,2018-09-16,09:15:00,2018-09-16 07:15:00,00:14:33,873.0,00:29:12,1752.0,00:44:00,2640.0,00:58:51,3531.0,01:02:07,3727.0,01:13:56,4436.0,01:29:20,5360.0,00:00:00,0.0,02:00:21,7221.0,02:06:48,7608.0,T
223,2018,Berlin,M,Shogo,Nakamura,4,2018-09-16,09:15:00,2018-09-16 07:15:00,00:15:04,904.0,00:30:09,1809.0,00:45:07,2707.0,01:00:04,3604.0,01:03:21,3801.0,01:15:05,4505.0,01:30:23,5423.0,00:00:00,0.0,02:01:30,7290.0,02:08:16,7696.0,T
224,2018,Berlin,M,Zersenay,Tadese,5,2018-09-16,09:15:00,2018-09-16 07:15:00,00:15:19,919.0,00:30:26,1826.0,00:45:24,2724.0,01:00:27,3627.0,01:03:44,3824.0,01:15:47,4547.0,01:31:10,5470.0,00:00:00,0.0,02:02:04,7324.0,02:08:46,7726.0,T
225,2018,Berlin,M,Yuki,Sato,6,2018-09-16,09:15:00,2018-09-16 07:15:00,00:15:20,920.0,00:30:26,1826.0,00:45:52,2752.0,01:01:19,3679.0,01:04:42,3882.0,01:17:01,4621.0,01:32:37,5557.0,00:00:00,0.0,02:02:41,7361.0,02:09:18,7758.0,T
226,2018,Berlin,M,Okubay,Tsegay,7,2018-09-16,09:15:00,2018-09-16 07:15:00,00:15:20,920.0,00:30:27,1827.0,00:45:55,2755.0,01:01:19,3679.0,01:04:43,3883.0,01:17:00,4620.0,01:32:38,5558.0,00:00:00,0.0,02:02:59,7379.0,02:09:56,7796.0,T
227,2018,Berlin,M,Daisuke,Uekado,8,2018-09-16,09:15:00,2018-09-16 07:15:00,00:15:19,919.0,00:30:26,1826.0,00:45:52,2752.0,01:01:19,3679.0,01:04:42,3882.0,01:17:01,4621.0,01:32:38,5558.0,00:00:00,0.0,02:04:12,7452.0,02:11:07,7867.0,T
228,2018,Berlin,M,Wily,Canchanya,9,2018-09-16,09:15:00,2018-09-16 07:15:00,00:15:51,951.0,00:31:15,1875.0,00:46:42,2802.0,01:02:07,3727.0,01:05:29,3929.0,01:17:46,4666.0,01:33:30,5610.0,00:00:00,0.0,02:05:34,7534.0,02:12:57,7977.0,T
229,2018,Berlin,M,Bart,Nunen,10,2018-09-16,09:15:00,2018-09-16 07:15:00,00:16:01,961.0,00:31:51,1911.0,00:47:50,2870.0,01:03:42,3822.0,01:07:07,4027.0,01:19:52,4792.0,01:35:36,5736.0,00:00:00,0.0,02:06:24,7584.0,02:13:09,7989.0,T
230,2018,Berlin,W,Gladys,Cherono,1,2018-09-16,09:15:00,2018-09-16 07:15:00,00:16:27,987.0,00:32:44,1964.0,00:49:10,2950.0,01:05:36,3936.0,01:09:10,4150.0,01:21:52,4912.0,01:38:04,5884.0,00:00:00,0.0,02:10:36,7836.0,02:18:11,8291.0,T
231,2018,Berlin,W,Ruti,Aga,2,2018-09-16,09:15:00,2018-09-16 07:15:00,00:16:27,987.0,00:32:45,1965.0,00:49:09,2949.0,01:05:35,3935.0,01:09:10,4150.0,01:21:54,4914.0,01:38:04,5884.0,00:00:00,0.0,02:11:15,7875.0,02:18:34,8314.0,T
378,2012,Chicago,W,Laura,Portis,9,2012-10-07,07:30:00,2012-10-07 12:30:00,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,02:37:18,9438.0,T
728,2007,NewYork,M,Aleksandr,Kuzin,9,2007-11-04,09:00:00,2007-11-04 14:00:00,0:15:49,949.0,0:31:30,1890.0,0:46:46,2806.0,1:02:19,3739.0,1:05:47,3947.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,2:14:01,8041.0,T
729,2007,NewYork,M,William,Kipsang,10,2007-11-04,09:00:00,2007-11-04 14:00:00,0:15:48,948.0,0:31:27,1887.0,0:46:13,2773.0,1:02:17,3737.0,1:05:45,3945.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,2:15:32,8132.0,T
782,2010,NewYork,M,Moses,Kigen Kipkosgei,3,2010-11-07,08:30:00,2010-11-07 13:30:00,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,00:00:00,0.0,1:47:19,6439.0,00:00:00,0.0,2:10:39,7839.0,T

In [83]:
df_data_6.head(60)

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,Datum_Startzeit_UTC,T_KM_5,S_KM_5,T_KM_10,S_KM_10,T_KM_15,S_KM_15,T_KM_20,S_KM_20,T_KM_HM,S_KM_HM,T_KM_25,S_KM_25,T_KM_30,S_KM_30,T_KM_35,S_KM_35,T_KM_40,S_KM_40,T_KM_FN,S_KM_FN,ZZ_INVALID
0,2007,Berlin,M,Haile,Gebrselassie,1,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:44,884.0,00:29:27,1767.0,00:44:16,2656.0,00:59:10,3550.0,01:02:29,3749.0,01:14:05,4445.0,01:28:56,5336.0,01:43:38,6218.0,01:58:08,7088.0,02:04:26,7466.0,F
1,2007,Berlin,M,Abel,Kirui,2,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:57,897.0,00:30:00,1800.0,00:45:06,2706.0,01:00:16,3616.0,01:03:41,3821.0,01:15:22,4522.0,01:30:01,5401.0,01:44:52,6292.0,02:00:09,7209.0,02:06:51,7611.0,F
2,2007,Berlin,M,Salim,Kipsang,3,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:57,897.0,00:30:01,1801.0,00:45:06,2706.0,01:00:16,3616.0,01:03:41,3821.0,01:15:22,4522.0,01:30:05,5405.0,01:44:53,6293.0,02:00:27,7227.0,02:07:29,7649.0,F
3,2007,Berlin,M,Philip,Manyim,4,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:58,898.0,00:30:00,1800.0,00:45:08,2708.0,01:00:16,3616.0,01:03:41,3821.0,01:15:22,4522.0,01:30:01,5401.0,01:44:53,6293.0,02:00:26,7226.0,02:08:01,7681.0,F
4,2007,Berlin,M,Mesfin,Adimasu,5,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:57,897.0,00:30:00,1800.0,00:45:06,2706.0,01:00:16,3616.0,01:03:41,3821.0,01:15:22,4522.0,01:30:05,5405.0,01:45:14,6314.0,02:01:58,7318.0,02:09:49,7789.0,F
5,2007,Berlin,M,Lee,Troop,6,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:59,899.0,00:30:00,1800.0,00:45:08,2708.0,01:00:18,3618.0,01:03:43,3823.0,01:15:43,4543.0,01:31:39,5499.0,01:47:38,6458.0,02:03:37,7417.0,02:10:31,7831.0,F
6,2007,Berlin,M,Arkadiusz,Sowa,7,2007-09-30,09:15:00,2007-09-30 07:15:00,00:15:25,925.0,00:30:57,1857.0,00:46:28,2788.0,01:02:01,3721.0,01:05:29,3929.0,01:17:39,4659.0,01:33:25,5605.0,01:49:05,6545.0,02:05:02,7502.0,02:12:00,7920.0,F
7,2007,Berlin,M,Joseph,Kahugu,8,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:57,897.0,00:29:59,1799.0,00:45:06,2706.0,01:00:16,3616.0,01:03:41,3821.0,01:15:28,4528.0,01:31:09,5469.0,01:47:23,6443.0,02:04:35,7475.0,02:12:08,7928.0,F
8,2007,Berlin,M,Tomohiro,Seto,9,2007-09-30,09:15:00,2007-09-30 07:15:00,00:15:08,908.0,00:30:14,1814.0,00:45:31,2731.0,01:01:16,3676.0,01:04:47,3887.0,01:17:18,4638.0,01:33:25,5605.0,01:49:06,6546.0,02:05:03,7503.0,02:12:21,7941.0,F
9,2007,Berlin,M,Ignacio,Caceres,10,2007-09-30,09:15:00,2007-09-30 07:15:00,00:14:58,898.0,00:30:00,1800.0,00:45:07,2707.0,01:00:17,3617.0,01:03:42,3822.0,01:15:41,4541.0,01:31:41,5501.0,01:48:07,6487.0,02:05:08,7508.0,02:12:46,7966.0,F
10,2007,Berlin,W,Gete,Wami,1,2007-09-30,09:15:00,2007-09-30 07:15:00,00:16:33,993.0,00:33:21,2001.0,00:49:58,2998.0,01:06:41,4001.0,01:10:25,4225.0,01:23:35,5015.0,01:40:45,6045.0,01:58:01,7081.0,02:15:38,8138.0,02:23:17,8597.0,F
11,2007,Berlin,W,Irina,Mikitenko,2,2007-09-30,09:15:00,2007-09-30 07:15:00,00:17:15,1035.0,00:34:34,2074.0,00:51:50,3110.0,01:09:04,4144.0,01:12:57,4377.0,01:26:19,5179.0,01:43:28,6208.0,02:00:38,7238.0,02:17:38,8258.0,02:24:51,8691.0,F
12,2007,Berlin,W,Helena,Kirop,3,2007-09-30,09:15:00,2007-09-30 07:15:00,00:17:12,1032.0,00:34:24,2064.0,00:51:33,3093.0,01:08:44,4124.0,01:12:31,4351.0,01:25:43,5143.0,01:43:21,6201.0,02:01:21,7281.0,02:18:54,8334.0,02:26:27,8787.0,F
13,2007,Berlin,W,Irina,Timofeyeva,4,2007-09-30,09:15:00,2007-09-30 07:15:00,00:17:16,1036.0,00:34:34,2074.0,00:51:49,3109.0,01:09:04,4144.0,01:12:57,4377.0,01:26:19,5179.0,01:43:28,6208.0,02:00:38,7238.0,02:18:30,8310.0,02:26:54,8814.0,F
14,2007,Berlin,W,Naoko,Sakamoto,5,2007-09-30,09:15:00,2007-09-30 07:15:00,00:17:12,1032.0,00:34:23,2063.0,00:51:33,3093.0,01:08:43,4123.0,01:12:31,4351.0,01:25:43,5143.0,01:43:20,6200.0,02:01:23,7283.0,02:20:04,8404.0,02:28:33,8913.0,F
15,2007,Berlin,W,Hayley,Haining,6,2007-09-30,09:15:00,2007-09-30 07:15:00,00:17:43,1063.0,00:35:31,2131.0,00:53:21,3201.0,01:11:06,4266.0,01:15:05,4505.0,01:28:55,5335.0,01:46:43,6403.0,02:04:35,7475.0,02:22:49,8569.0,02:30:43,9043.0,F
16,2007,Berlin,W,Rose,Kerubo Nyangacha,7,2007-09-30,09:15:00,2007-09-30 07:15:00,00:17:15,1035.0,00:34:34,2074.0,00:51:50,3110.0,01:09:04,4144.0,01:12:57,4377.0,01:26:43,5203.0,01:44:54,6294.0,02:03:25,7405.0,02:22:54,8574.0,02:31:33,9093.0,F
17,2007,Berlin,W,Leonor,Carneiro,8,2007-09-30,09:15:00,2007-09-30 07:15:00,00:18:13,1093.0,00:36:09,2169.0,00:53:54,3234.0,01:11:53,4313.0,01:15:53,4553.0,01:29:48,5388.0,01:47:37,6457.0,02:05:09,7509.0,02:23:21,8601.0,02:31:41,9101.0,F
18,2007,Berlin,W,Angeline,Flueckiger-Joly,9,2007-09-30,09:15:00,2007-09-30 07:15:00,00:18:07,1087.0,00:36:08,2168.0,00:54:01,3241.0,01:12:13,4333.0,01:16:19,4579.0,01:30:26,5426.0,01:49:08,6548.0,02:07:59,7679.0,02:27:29,8849.0,02:35:57,9357.0,F
19,2007,Berlin,W,Eva-Maria,Gradwohl,10,2007-09-30,09:15:00,2007-09-30 07:15:00,00:18:32,1112.0,00:37:00,2220.0,00:55:20,3320.0,01:13:49,4429.0,01:17:57,4677.0,01:32:17,5537.0,01:50:45,6645.0,02:09:20,7760.0,02:28:08,8888.0,02:36:21,9381.0,F
20,2008,Berlin,M,Haile,Gebrselassie,1,2008-09-28,09:15:00,2008-09-28 07:15:00,00:14:35,875.0,00:29:13,1753.0,00:44:03,2643.0,00:58:50,3530.0,01:02:05,3725.0,01:13:41,4421.0,01:28:27,5307.0,01:43:05,6185.0,01:57:34,7054.0,02:03:59,7439.0,F
21,2008,Berlin,M,James,Kwambai,2,2008-09-28,09:15:00,2008-09-28 07:15:00,00:14:36,876.0,00:29:14,1754.0,00:44:03,2643.0,00:58:51,3531.0,01:02:05,3725.0,01:13:41,4421.0,01:28:27,5307.0,01:43:05,6185.0,01:58:27,7107.0,02:05:36,7536.0,F
22,2008,Berlin,M,Charles,Kamathi,3,2008-09-28,09:15:00,2008-09-28 07:15:00,00:14:35,875.0,00:29:14,1754.0,00:44:03,2643.0,00:58:51,3531.0,01:02:05,3725.0,01:13:41,4421.0,01:28:27,5307.0,01:43:50,6230.0,02:00:31,7231.0,02:07:48,7668.0,F
23,2008,Berlin,M,Mariko,Kipchumba,4,2008-09-28,09:15:00,2008-09-28 07:15:00,00:14:54,894.0,00:30:03,1803.0,00:45:44,2744.0,01:01:29,3689.0,01:04:54,3894.0,01:17:09,4629.0,01:32:18,5538.0,01:47:16,6436.0,02:02:24,7344.0,02:09:03,7743.0,F
24,2008,Berlin,M,Mesfin,Ademasu,5,2008-09-28,09:15:00,2008-09-28 07:15:00,00:14:50,890.0,00:30:12,1812.0,00:46:20,2780.0,01:02:36,3756.0,01:06:04,3964.0,01:18:23,4703.0,01:34:31,5671.0,01:50:32,6632.0,02:05:37,7537.0,02:12:02,7922.0,F
25,2008,Berlin,M,Joseph,Ngolepus,6,2008-09-28,09:15:00,2008-09-28 07:15:00,00:14:50,890.0,00:29:44,1784.0,00:44:56,2696.0,01:00:11,3611.0,01:03:30,3810.0,01:15:13,4513.0,01:30:29,5429.0,01:46:14,6374.0,02:03:37,7417.0,02:12:07,7927.0,F
26,2008,Berlin,M,Kenjiro,Jitsui,7,2008-09-28,09:15:00,2008-09-28 07:15:00,00:15:34,934.0,00:31:07,1867.0,00:46:54,2814.0,01:02:48,3768.0,01:06:21,3981.0,01:19:01,4741.0,01:34:48,5688.0,01:50:32,6632.0,02:05:59,7559.0,02:12:48,7968.0,F
27,2008,Berlin,M,Toshinari,Suwa,8,2008-09-28,09:15:00,2008-09-28 07:15:00,00:14:55,895.0,00:30:03,1803.0,00:45:45,2745.0,01:01:29,3689.0,01:04:55,3895.0,01:17:14,4634.0,01:33:27,5607.0,01:49:42,6582.0,02:05:54,7554.0,02:13:04,7984.0,F
28,2008,Berlin,M,Falk,Cierpinski,9,2008-09-28,09:15:00,2008-09-28 07:15:00,00:15:38,938.0,00:31:07,1867.0,00:46:54,2814.0,01:02:48,3768.0,01:06:21,3981.0,01:19:01,4741.0,01:34:48,5688.0,01:50:40,6640.0,02:06:37,7597.0,02:13:30,8010.0,F
29,2008,Berlin,M,Francis,Kiprop,10,2008-09-28,09:15:00,2008-09-28 07:15:00,00:14:50,890.0,00:29:43,1783.0,00:44:56,2696.0,01:00:11,3611.0,01:03:30,3810.0,01:15:12,4512.0,01:30:29,5429.0,01:46:26,6386.0,02:05:34,7534.0,02:14:30,8070.0,F
30,2008,Berlin,W,Irina,Mikitenko,1,2008-09-28,09:15:00,2008-09-28 07:15:00,00:16:40,1000.0,00:33:11,1991.0,00:49:47,2987.0,01:06:28,3988.0,01:10:05,4205.0,01:23:08,4988.0,01:39:36,5976.0,01:56:05,6965.0,02:12:22,7942.0,02:19:19,8359.0,F
31,2008,Berlin,W,Askale Tafa,Magarsa,2,2008-09-28,09:15:00,2008-09-28 07:15:00,00:16:34,994.0,00:32:49,1969.0,00:49:18,2958.0,01:05:56,3956.0,01:09:37,4177.0,01:22:50,4970.0,01:39:36,5976.0,01:56:24,6984.0,02:13:48,8028.0,02:21:31,8491.0,F
32,2008,Berlin,W,Helena,Kirop,3,2008-09-28,09:15:00,2008-09-28 07:15:00,00:16:34,994.0,00:32:49,1969.0,00:49:20,2960.0,01:05:57,3957.0,01:09:37,4177.0,01:22:51,4971.0,01:40:34,6034.0,01:58:43,7123.0,02:17:06,8226.0,02:25:01,8701.0,F
33,2008,Berlin,W,Rose,Cheruiyot,4,2008-09-28,09:15:00,2008-09-28 07:15:00,00:16:34,994.0,00:32:50,1970.0,00:49:20,2960.0,01:06:28,3988.0,01:10:06,4206.0,01:23:56,5036.0,01:41:56,6116.0,01:59:55,7195.0,02:18:22,8302.0,02:26:25,8785.0,F
34,2008,Berlin,W,Gulnara,Vigovskaya,5,2008-09-28,09:15:00,2008-09-28 07:15:00,00:17:35,1055.0,00:34:48,2088.0,00:52:29,3149.0,01:09:59,4199.0,01:13:48,4428.0,01:27:35,5255.0,01:45:17,6317.0,02:03:16,7396.0,02:21:53,8513.0,02:30:03,9003.0,F
35,2008,Berlin,W,Shuru,Deriba,6,2008-09-28,09:15:00,2008-09-28 07:15:00,00:16:34,994.0,00:32:50,1970.0,00:49:48,2988.0,01:07:17,4037.0,01:11:14,4274.0,01:25:44,5144.0,01:44:45,6285.0,02:03:35,7415.0,02:22:37,8557.0,02:31:20,9080.0,F
36,2008,Berlin,W,Edyta,Lewandoswka,7,2008-09-28,09:15:00,2008-09-28 07:15:00,00:17:41,1061.0,00:35:31,2131.0,00:53:15,3195.0,01:11:12,4272.0,01:15:11,4511.0,01:29:26,5366.0,01:47:45,6465.0,02:06:08,7568.0,02:24:43,8683.0,02:33:00,9180.0,F
37,2008,Berlin,W,Evelyne,Kimuria,8,2008-09-28,09:15:00,2008-09-28 07:15:00,00:17:34,1054.0,00:34:50,2090.0,00:52:54,3174.0,01:11:05,4265.0,01:15:06,4506.0,01:29:37,5377.0,01:48:26,6506.0,02:07:42,7662.0,02:27:21,8841.0,02:35:53,9353.0,F
38,2008,Berlin,W,Daniela,Cirlan,9,2008-09-28,09:15:00,2008-09-28 07:15:00,00:17:59,1079.0,00:35:58,2158.0,00:54:02,3242.0,01:12:17,4337.0,01:16:17,4577.0,01:30:40,5440.0,01:49:05,6545.0,02:07:38,7658.0,02:27:12,8832.0,02:36:18,9378.0,F
39,2008,Berlin,W,Zivile,Balciunaite,10,2008-09-28,09:15:00,2008-09-28 07:15:00,00:17:05,1025.0,00:34:47,2087.0,00:52:33,3153.0,01:10:54,4254.0,01:14:59,4499.0,01:29:36,5376.0,01:48:39,6519.0,02:08:02,7682.0,02:28:02,8882.0,02:36:40,9400.0,F
40,2009,Berlin,M,Haile,Gebrselassie,1,2009-09-20,09:15:00,2009-09-20 07:15:00,00:14:30,870.0,00:29:16,1756.0,00:43:58,2638.0,00:58:34,3514.0,01:01:45,3705.0,01:13:09,4389.0,01:27:49,5269.0,01:42:37,6157.0,01:58:34,7114.0,02:06:08,7568.0,F
41,2009,Berlin,M,Francis,Kiprop,2,2009-09-20,09:15:00,2009-09-20 07:15:00,00:15:21,921.0,00:30:51,1851.0,00:45:53,2753.0,01:00:56,3656.0,01:04:18,3858.0,01:15:37,4537.0,01:29:42,5382.0,01:44:12,6252.0,01:59:52,7192.0,02:07:04,7624.0,F
42,2009,Berlin,M,Negari,Terfa,3,2009-09-20,09:15:00,2009-09-20 07:15:00,00:15:21,921.0,00:30:52,1852.0,00:45:53,2753.0,01:00:57,3657.0,01:04:18,3858.0,01:15:41,4541.0,01:30:29,5429.0,01:45:41,6341.0,02:01:10,7270.0,02:07:41,7661.0,F
43,2009,Berlin,M,Dereje,Debele Tulu,4,2009-09-20,09:15:00,2009-09-20 07:15:00,00:15:22,922.0,00:30:52,1852.0,00:45:54,2754.0,01:00:55,3655.0,01:04:17,3857.0,01:15:48,4548.0,01:30:51,5451.0,01:46:06,6366.0,02:02:16,7336.0,02:09:41,7781.0,F
44,2009,Berlin,M,Alfred,Kering,5,2009-09-20,09:15:00,2009-09-20 07:15:00,00:15:21,921.0,00:30:51,1851.0,00:45:53,2753.0,01:00:58,3658.0,01:04:18,3858.0,01:15:39,4539.0,01:30:46,5446.0,01:46:23,6383.0,02:02:45,7365.0,02:09:52,7792.0,F
45,2009,Berlin,M,Girma,Assefa,6,2009-09-20,09:15:00,2009-09-20 07:15:00,00:15:21,921.0,00:30:52,1852.0,00:45:55,2755.0,01:00:58,3658.0,01:04:18,3858.0,01:15:42,4542.0,01:30:48,5448.0,01:46:23,6383.0,02:02:47,7367.0,02:09:58,7798.0,F
46,2009,Berlin,M,Eshetu,Wondimu,7,2009-09-20,09:15:00,2009-09-20 07:15:00,00:15:20,920.0,00:30:52,1852.0,00:45:53,2753.0,01:00:55,3655.0,01:04:17,3857.0,01:15:37,4537.0,01:29:50,5390.0,01:45:00,6300.0,02:03:29,7409.0,02:12:28,7948.0,F
47,2009,Berlin,M,Atsushi,Fujita,8,2009-09-20,09:15:00,2009-09-20 07:15:00,00:15:21,921.0,00:30:53,1853.0,00:45:54,2754.0,01:00:55,3655.0,01:04:18,3858.0,01:16:10,4570.0,01:31:41,5501.0,01:47:48,6468.0,02:05:00,7500.0,02:12:54,7974.0,F
48,2009,Berlin,M,Kensuke,Takahashi,9,2009-09-20,09:15:00,2009-09-20 07:15:00,00:15:21,921.0,00:30:52,1852.0,00:45:54,2754.0,01:00:57,3657.0,01:04:18,3858.0,01:16:19,4579.0,01:32:11,5531.0,01:48:29,6509.0,02:05:45,7545.0,02:13:00,7980.0,F
49,2009,Berlin,M,Cuthbert,Nyasango,10,2009-09-20,09:15:00,2009-09-20 07:15:00,00:15:22,922.0,00:30:52,1852.0,00:45:54,2754.0,01:00:56,3656.0,01:04:18,3858.0,01:16:19,4579.0,01:32:12,5532.0,01:48:29,6509.0,02:05:45,7545.0,02:13:19,7999.0,F
50,2009,Berlin,W,Atsede Habtamu,Besuye,1,2009-09-20,09:15:00,2009-09-20 07:15:00,00:16:56,1016.0,00:34:07,2047.0,00:51:31,3091.0,01:08:49,4129.0,01:12:29,4349.0,01:25:52,5152.0,01:42:50,6170.0,01:59:53,7193.0,02:17:19,8239.0,02:24:47,8687.0,F
51,2009,Berlin,W,Silvia,Skvortsova,2,2009-09-20,09:15:00,2009-09-20 07:15:00,00:17:26,1046.0,00:34:45,2085.0,00:52:01,3121.0,01:09:23,4163.0,01:13:12,4392.0,01:26:55,5215.0,01:44:08,6248.0,02:01:08,7268.0,02:18:39,8319.0,02:26:24,8784.0,F
52,2009,Berlin,W,Mamitu,Daska,3,2009-09-20,09:15:00,2009-09-20 07:15:00,00:16:57,1017.0,00:34:07,2047.0,00:51:34,3094.0,01:08:49,4129.0,01:12:30,4350.0,01:25:53,5153.0,01:42:51,6171.0,02:00:37,7237.0,02:19:01,8341.0,02:26:38,8798.0,F
53,2009,Berlin,W,Rosaria,Console,4,2009-09-20,09:15:00,2009-09-20 07:15:00,00:16:58,1018.0,00:34:07,2047.0,00:51:32,3092.0,01:09:02,4142.0,01:12:51,4371.0,01:26:22,5182.0,01:43:42,6222.0,02:01:12,7272.0,02:18:59,8339.0,02:26:45,8805.0,F
54,2009,Berlin,W,Genet,Getaneh,5,2009-09-20,09:15:00,2009-09-20 07:15:00,00:16:57,1017.0,00:34:07,2047.0,00:51:31,3091.0,01:08:49,4129.0,01:12:29,4349.0,01:25:52,5152.0,01:42:50,6170.0,01:59:53,7193.0,02:18:19,8299.0,02:27:09,8829.0,F
55,2009,Berlin,W,Leah,Malot,6,2009-09-20,09:15:00,2009-09-20 07:15:00,00:17:26,1046.0,00:34:48,2088.0,00:52:21,3141.0,01:10:03,4203.0,01:13:55,4435.0,01:27:38,5258.0,01:45:26,6326.0,02:03:24,7404.0,02:21:36,8496.0,02:29:17,8957.0,F
56,2009,Berlin,W,Tatiana,Aryasova,7,2009-09-20,09:15:00,2009-09-20 07:15:00,00:17:32,1052.0,00:34:58,2098.0,00:52:23,3143.0,01:10:04,4204.0,01:13:55,4435.0,01:27:51,5271.0,01:45:56,6356.0,02:04:13,7453.0,02:23:45,8625.0,02:32:17,9137.0,F
57,2009,Berlin,W,Jacqueline,Nyetipei,8,2009-09-20,09:15:00,2009-09-20 07:15:00,00:17:26,1046.0,00:34:48,2088.0,00:52:21,3141.0,01:10:04,4204.0,01:13:57,4437.0,01:28:12,5292.0,01:46:34,6394.0,02:05:18,7518.0,02:25:07,8707.0,02:34:16,9256.0,F
58,2009,Berlin,W,Maja,Neuenschwander,9,2009-09-20,09:15:00,2009-09-20 07:15:00,00:18:02,1082.0,00:36:15,2175.0,00:54:35,3275.0,01:13:05,4385.0,01:17:08,4628.0,01:31:38,5498.0,01:50:15,6615.0,02:08:42,7722.0,02:27:27,8847.0,02:35:44,9344.0,F
59,2009,Berlin,W,Hayley,Haining,10,2009-09-20,09:15:00,2009-09-20 07:15:00,00:17:26,1046.0,00:34:50,2090.0,00:52:28,3148.0,01:10:32,4232.0,01:14:31,4471.0,01:29:10,5350.0,01:48:27,6507.0,02:08:00,7680.0,02:27:57,8877.0,02:36:08,9368.0,F

In [84]:
df_data_6.groupby(['Geschlecht'], as_index=True).agg(
    {     
        'S_KM_FN':['max','min','mean','median']
    }
)

            S_KM_FN
                max     min         mean  median
Geschlecht
M            8815.0  7299.0  7791.677049  7781.0
W           10641.0  8044.0  8937.752459  8883.0

In [85]:
# Alle Datensätze in eine CSV-Datei speichern.
file_name_prepared = data_path + "daten_wmm_all_prepared.csv"
df_data_6.to_csv(file_name_prepared, sep=';', index=False, encoding='utf8')

# Dataframe serialisieren (Pickle) für die spätere Verwendungen mit den Wetterdaten
file_name_prepared_p = data_path + "daten_wmm_all_prepared.p"
pickle.dump(df_data_6, open(file_name_prepared_p, "wb"))